{% extends "layout.html" %}
{% block content %}
    <div class="container text-center py-4">
        {% if session.get('admin') %}
            <a class="btn btn-download" href="{{ url_for('static', filename='files/users.csv') }}"
                       download="users.csv">Download Users</a>
            <a class="btn btn-download" href="{{ url_for('static', filename='files/answers.csv') }}"
                       download="answers.csv">Download Answers</a>

            <div class="card my-5">
                <form class="row mx-auto py-4" method="post">
                    <div class="row py-2">
                        <div class="col-12 col-md-2">
                            <label for="name" class="form-control-plaintext" style="color: var(--text-color-pri)">
                                Publication Title:
                            </label>
                        </div>
                        <div class="col-12 col-md-4">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Deepfakes_pub_1"
                            required="required" maxlength="50">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-md-2">
                            <label for="desc" class="form-control-plaintext" style="color: var(--text-color-pri)">
                                Publication Description:
                            </label>
                        </div>
                        <div class="col-12 col-md-4">
                            <textarea class="form-control" id="desc" name="desc"
                                      placeholder="The best publication ever written..." rows="3"
                                      required="required" maxlength="250"></textarea>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-md-2">
                            <label for="link" class="form-control-plaintext" style="color: var(--text-color-pri)">
                                Publication link:
                            </label>
                        </div>
                        <div class="col-12 col-md-4">
                            <input type="url" class="form-control" id="link" name="link" required="required"
                                   placeholder="https://www.my_publication.com">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mb-3">Add Publication</button>
                </form>
            </div>


<!--            DELETE PUBLICATION  -->
            <div class="card py-3 pe-2">
                <div class="row px-3">
                    <div class="col">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <label for="pub_id" class="form-control-plaintext"
                                       style="color: var(--text-color-pri)">
                                    Publication ID:
                                </label>
                            </div>
                            <div class="col-6 col-md-3">
                                <input id="pub_id" name="pub_id" type="number" class="form-control"
                                       value="{{ pubs[0].id }}" min="{{ pubs[0].id }}" max="{{ pubs[-1].id }}"
                                onchange="set_pub_values()">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-end">
                            <div class="col-12 col-md-4">
                                <label for="pub_name" class="form-control-plaintext"
                                       style="color: var(--text-color-pri)">
                                    Publication Name:
                                </label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input id="pub_name" type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row px-3 py-2">
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <form method="post">
                                    <input type="hidden" name="hidden_pub_id" id="hidden_pub_id">
                                    <button type="submit" class="btn btn-danger btn-lg my-2">Delete Publication</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-end">
                            <div class="col-12 col-md-4">
                                <label for="pub_desc" class="form-control-plaintext"
                                       style="color: var(--text-color-pri)">
                                    Publication Description:
                                </label>
                            </div>
                            <div class="col-12 col-md-8">
                                <textarea id="pub_desc" class="form-control" disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end pe-3">
                    <div class="col-6 col-md-2">
                        <label for="pub_link" class="form-control-plaintext" style="color: var(--text-color-pri)">
                            Publication link:
                        </label>
                    </div>
                    <div class="col-6 col-md-4">
                        <input id="pub_link" type="url" class="form-control" disabled>
                    </div>
                </div>
            </div>


<!--        LOGIN PAGE  -->
        {% else %}
            <form class="row mx-auto py-4" method="post">
                <div class="col-12 col-md-2">
                    <label for="password" class="form-control-plaintext" style="color: var(--text-color-pri)">
                        Admin Password:
                    </label>
                </div>
                <div class="col-12 col-md-4">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-success mb-3">Confirm Password</button>
                </div>
            </form>
            {% if failed %}
                <h5 style="color: red">Incorrect password, please try again!</h5>
            {% endif %}
        {% endif %}
    </div>

    <script>
        let publications = [];
        {% for pub in pubs %}
            var publicationData = {
                "id": {{ pub.id }},
                "name": "{{ pub.name }}",
                "description": "{{ pub.description }}",
                "link": "{{ pub.link }}"
            };
            publications.push(publicationData);
        {% endfor %}

        let id = document.getElementById('pub_id');
        let hidden = document.getElementById('hidden_pub_id');

        let name = document.getElementById('pub_name');
        let desc = document.getElementById('pub_desc');
        let link = document.getElementById('pub_link');

        // sets name, description and link of selected publication to its values and changes value of hidden form input
        function set_pub_values() {
            let found = false;
            for (let i = 0; i < publications.length; i++) {
                let pub = publications[i];
                if (pub.id === parseInt(id.value)) {
                    name.value = pub.name;
                    desc.value = pub.description;
                    link.value = pub.link;
                    hidden.value = pub.id
                    found = true;
                    break;
                }
            }

            if (!found) {
                name.value = 'deleted';
                desc.value = 'deleted';
                link.value = 'deleted';
            }
        }

        document.addEventListener('DOMContentLoaded', set_pub_values());
    </script>
{% endblock content %}