{% extends "layout.html" %}
{% block content %}

<div style="background-color: var(--btn-color-how); color: var(--btn-color-sec); background(filter: brightness(80%))">
    <!--    TITLE  -->
    <div class="text-center py-5">
        <div class="container pb-3">
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="68"
                 aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 68%"></div>
        </div>
    </div>
        <h2 style="color: var(--btn-color-sec)">{% block tit %}{% endblock tit %}</h2>
    </div>

    <div class="container bb">
        <div class="row pb-4">
            <div class="col-12 text-center">
                <p class="text-dark">{% block audio %}{% endblock audio %}</p>
            </div>
        </div>
    </div>



    <!--    HOW -->
    <div class="container mt-4">
        <div class="row py-3 justify-content-between">
            <div class="col-12 col-md-4 my-auto">
                <h1 style="color: var(--main-bg-color)">{% block how %}{% endblock how %}&nbsp;?</h1>
            </div>
            <div class="col-12 col-md-6 my-auto">
                <div class="row">
                    <div class="col-12 pb-3">
                        {% block how2 %}{% endblock how2 %}
                    </div>
                    <div class="col-12">
                        {% block how3 %}{% endblock how3 %}:
                    </div>
                    <div class="col-12">
                        <ul>
                            <li>
                                {% block how4 %}{% endblock how4 %}
                            </li>
                            <li>
                                {% block how5 %}{% endblock how5 %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="py-3" style="background-color: var(--btn-color-sec)">
    <!--    WHAT    -->
    <div class="container mt-4">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4 my-auto order-md-last">
                <h2>{% block what %}{% endblock what %}&nbsp;?</h2>
            </div>
            <div class="col-12 col-md-7">
                <div class="row justify-content-center">
                    <div class="col-9 text-center">
                        <h6>{% block what2 %}{% endblock what2 %}:</h6>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="accordion">
                      <div class="accordion-item">
                        <h5 class="accordion-header">
                          <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#what-1" aria-expanded="false"
                                  aria-controls="what-1">
                            Vishing
                          </button>
                        </h5>
                        <div id="what-1" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <ul>
                                <li>
                                    <p class="text">{% block vish3 %}{% endblock vish3 %}</p>
                                </li>
                                <li>
                                    <p class="text">{% block vish4 %}{% endblock vish4 %}</p>
                                </li>
                                <li>
                                    <p class="text">{% block vish5 %}{% endblock vish5 %}</p>
                                </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#what-2" aria-expanded="false"
                                  aria-controls="what-2">
                            Scam
                          </button>
                        </h5>
                        <div id="what-2" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <ul>
                                <li>
                                    <p class="text">{% block scam1 %}{% endblock scam1 %}</p>
                                </li>
                                <li>
                                    <p class="text">{% block scam2 %}{% endblock scam2 %}</p>
                                </li>
                                <li>
                                    <p class="text">{% block scam3 %}{% endblock scam3 %}</p>
                                </li>
                                <li>
                                    <p class="text">{% block scam4 %}{% endblock scam4 %}</p>
                                </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#what-3" aria-expanded="false"
                                  aria-controls="what-3">
                            {% block bio1 %}{% endblock bio1 %}
                          </button>
                        </h5>
                        <div id="what-3" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <ul>
                                <li>
                                    <p class="text">{% block bio2 %}{% endblock bio2 %}</p>
                                </li>
                                <li>
                                    <p class="text">{% block bio3 %}{% endblock bio3 %}</p>
                                </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#what-4" aria-expanded="false"
                                  aria-controls="what-4">
                            {% block misc %}{% endblock misc %}
                          </button>
                        </h5>
                        <div id="what-4" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <ul>
                                <li>
                                    {% block what3 %}{% endblock what3 %}
                                </li>
                                <li>
                                    <p class="text">{% block what4 %}{% endblock what4 %}</p>
                                </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-lg my-5">
    <!--    TTS & SC 1/2    -->
    <div class="card" style="border-radius: 1rem; --bs-card-bg:var(--btn-color-pri);
     border: 2px solid var(--btn-color-pri); color: var(--text-color-sec)">
        <div class="card-header" style="border-bottom-color: var(--text-color-pri)">
            <ul class="nav justify-content-center nav-tabs card-header-tabs nav-fill" id="myTab"
                role="tablist" style="--bs-nav-tabs-link-active-color:var(--text-color-pri);
                 --bs-secondary-bg:var(--text-color-pri);">
                <li class="nav-item">
                    <button class="nav-link nav-audio active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1"
                            type="button" role="tab" aria-controls="tab1" aria-selected="true">
                        {% block tts %}{% endblock tts %}
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link nav-audio" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2"
                            type="button" role="tab" aria-controls="tab2" aria-selected="false">
                        {% block sts %}{% endblock sts %}
                    </button>
                </li>
                <!-- Add more tabs as needed -->
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="card-body">
                    <div class="row py-3 text-center">
                        <div class="col-12">
                            <h5>{% block tts2 %}{% endblock tts2 %}</h5>
                        </div>
                    </div>
                    <div class="row justify-content-between px-2">
                        <div class="col-12 col-md-5 my-auto">
                            <h2>{% block ttswhy %}{% endblock ttswhy %}&nbsp;?</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row mb-2 mb-md-0">
                                <div class="col-12 pb-2">
                                    <p class="text">{% block ttswhy2 %}{% endblock ttswhy2 %}</p>
                                </div>
                                <div class="col-12 pb-2">
                                    <p class="text">{% block ttswhy3 %}{% endblock ttswhy3 %}</p>
                                </div>
                                <div class="col-12 pb-2">
                                    <p class="text">{% block ttswhy4 %}{% endblock ttswhy4 %}</p>
                                </div>
                                <div class="col-12 pb-2">
                                    <p class="text">{% block ttswhy5 %}{% endblock ttswhy5 %}</p>
                                </div>
                                <div class="col-12">
                                    <p class="text">{% block ttswhy6 %}{% endblock ttswhy6 %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div class="card-body">
                    <div class="row py-3 text-center">
                        <div class="col-12">
                            <h5>{% block sts2 %}{% endblock sts2 %}</h5>
                        </div>
                    </div>
                    <div class="row justify-content-between px-2">
                        <div class="col-12 col-md-6">
                            <div class="row mb-2 mb-md-0">
                                <div class="col-12 pb-2">
                                    <p class="text">{% block stswhy2 %}{% endblock stswhy2 %}</p>
                                </div>
                                <div class="col-12 pb-2">
                                    <p class="text">{% block stswhy3 %}{% endblock stswhy3 %}</p>
                                </div>
                                <div class="col-12 pb-2">
                                    <p class="text">{% block stswhy4 %}{% endblock stswhy4 %}</p>
                                </div>
                                <div class="col-12">
                                    <p class="text" style="color: var(--text-color-sec)">
                                        {% block stswhy5 %}{% endblock stswhy5 %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 my-auto order-first order-md-last">
                            <h2>{% block stswhy %}{% endblock stswhy %}&nbsp;?</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="container mt-4">-->
<!--    <div class="row justify-content-center text-center">-->
<!--        <div class="col-12 col-md-5 py-2">-->
<!--            <button class="btn btn-audio" onclick="showDiv('TTS')">ttsscen</button>-->
<!--        </div>-->
<!--        <div class="col-12 col-md-5 py-2">-->
<!--            <button class="btn btn-audio" onclick="showDiv('STS')">stsscen</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->





<!--&lt;!&ndash;    ATTACK SCENARIOS    &ndash;&gt;-->
<!--<div id="TTS" class="container mt-4" style="display: none">-->
<!--    <div class="accordion">-->
<!--      <div class="accordion-item">-->
<!--        <h5 class="accordion-header">-->
<!--          <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                  data-bs-target="#tts-1" aria-expanded="false"-->
<!--                  aria-controls="tts-1">-->
<!--            TTS {% block ttsscen1 %}{% endblock ttsscen1 %} 1:-->
<!--          </button>-->
<!--        </h5>-->
<!--        <div id="tts-1" class="accordion-collapse collapse">-->
<!--          <div class="accordion-body">-->
<!--            <ol>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen11 %}{% endblock ttsscen11 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen12 %}{% endblock ttsscen12 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen13 %}{% endblock ttsscen13 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen14 %}{% endblock ttsscen14 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen15 %}{% endblock ttsscen15 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen16 %}{% endblock ttsscen16 %}</p>-->
<!--                </li>-->
<!--            </ol>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="accordion-item">-->
<!--        <h5 class="accordion-header">-->
<!--          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                  data-bs-target="#tts-2" aria-expanded="false"-->
<!--                  aria-controls="tts-2">-->
<!--            TTS {% block ttsscen2 %}{% endblock ttsscen2 %} 2:-->
<!--          </button>-->
<!--        </h5>-->
<!--        <div id="tts-2" class="accordion-collapse collapse">-->
<!--          <div class="accordion-body">-->
<!--            <ol>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen21 %}{% endblock ttsscen21 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen22 %}{% endblock ttsscen22 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen23 %}{% endblock ttsscen23 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen24 %}{% endblock ttsscen24 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen25 %}{% endblock ttsscen25 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block ttsscen26 %}{% endblock ttsscen26 %}</p>-->
<!--                </li>-->
<!--            </ol>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->


<!--<div id="STS" class="container mt-4" style="display: none">-->
<!--    <div class="accordion">-->
<!--      <div class="accordion-item">-->
<!--        <h5 class="accordion-header">-->
<!--          <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                  data-bs-target="#sts-1" aria-expanded="false"-->
<!--                  aria-controls="sts-1">-->
<!--            STS {% block stsscen1 %}{% endblock stsscen1 %} 1:-->
<!--          </button>-->
<!--        </h5>-->
<!--        <div id="sts-1" class="accordion-collapse collapse">-->
<!--          <div class="accordion-body">-->
<!--            <ol>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen11 %}{% endblock stsscen11 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen12 %}{% endblock stsscen12 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen13 %}{% endblock stsscen13 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen14 %}{% endblock stsscen14 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen15 %}{% endblock stsscen15 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen16 %}{% endblock stsscen16 %}</p>-->
<!--                </li>-->
<!--            </ol>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="accordion-item">-->
<!--        <h5 class="accordion-header">-->
<!--          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                  data-bs-target="#sts-2" aria-expanded="false"-->
<!--                  aria-controls="sts-2">-->
<!--            STS {% block stsscen2 %}{% endblock stsscen2 %} 2:-->
<!--          </button>-->
<!--        </h5>-->
<!--        <div id="sts-2" class="accordion-collapse collapse">-->
<!--          <div class="accordion-body">-->
<!--            <ol>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen21 %}{% endblock stsscen21 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen22 %}{% endblock stsscen22 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen23 %}{% endblock stsscen23 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen24 %}{% endblock stsscen24 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen25 %}{% endblock stsscen25 %}</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <p class="text">{% block stsscen26 %}{% endblock stsscen26 %}</p>-->
<!--                </li>-->
<!--            </ol>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->

<!--    SCENARIOS   -->
<div style="background-color: var(--btn-color-how); color: var(--btn-color-sec); background(filter: brightness(80%))"
    class="py-4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4 my-auto">
                <h1 style="color: var(--btn-color-sec)">{% block ttsscen %}{% endblock ttsscen %}&nbsp;?</h1>
            </div>
            <div class="col-12 col-md-7">
                <div class="row text-center">
                    <h3 style="color: var(--btn-color-sec)">
                        {% block ttss %}{% endblock ttss %}
                    </h3>
                </div>
                <div class="row">
                    <img src="{{ url_for('static', filename='images/scenarios/tts.png') }}"
                         alt="..." class="img-fluid">
                </div>
                <div class="row pt-2 pb-5">
                    <div class="col-12 col-md-4 pb-4">
                        <h5 style="color: var(--btn-color-sec)">{% block step11 %}{% endblock step11 %} 1&nbsp;:
                        </h5>
                        <br>
                        <p class="text-dark">{% block ttss1 %}{% endblock ttss1 %}</p>
                    </div>
                    <div class="col-12 col-md-4 pb-4">
                        <h5 style="color: var(--btn-color-sec)">{% block step12 %}{% endblock step12 %} 2&nbsp;:
                        </h5>
                        <br>
                        <p class="text-dark">{% block ttss2 %}{% endblock ttss2 %}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <h5 style="color: var(--btn-color-sec)">{% block step13 %}{% endblock step13 %} 3&nbsp;:
                        </h5>
                        <br>
                        <p class="text-dark">{% block ttss3 %}{% endblock ttss3 %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4 order-md-last my-auto">
                <h1>{% block stsscen %}{% endblock stsscen %}&nbsp;?</h1>
            </div>
            <div class="col-12 col-md-7">
                <div class="row text-center">
                    <h3>
                        {% block stss %}{% endblock stss %}
                    </h3>
                </div>
                <div class="row">
                    <img src="{{ url_for('static', filename='images/scenarios/sts.png') }}"
                         alt="..." class="img-fluid">
                </div>
                <div class="row pt-2 pb-5">
                    <div class="col-12 col-md-4 pb-4">
                        <h5>{% block step21 %}{% endblock step21 %} 1&nbsp;:
                        </h5>
                        <br>
                        <p class="text">{% block stss1 %}{% endblock stss1 %}</p>
                    </div>
                    <div class="col-12 col-md-4 pb-4">
                        <h5>{% block step22 %}{% endblock step22 %} 2&nbsp;:
                        </h5>
                        <br>
                        <p class="text">{% block stss2 %}{% endblock stss2 %}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <h5>{% block step23 %}{% endblock step23 %} 3&nbsp;:
                        </h5>
                        <br>
                        <p class="text">{% block stss3 %}{% endblock stss3 %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--    CONT/END BUTTONS-->
    <div class="container mt-3 d-flex justify-content-center">
        <div class="fixed-sm-bottom mb-1">
            <div class="row">
                <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">
                    <a class="btn btn-my-secondary" href="{{ url_for('videos') }}">{% block but1 %}{% endblock but1 %}</a>
                </div>
                <div class="col-12 col-md-6 my-2 text-center">
                    <a class="btn btn-my-primary" href="{{ url_for('end') }}">{% block but2 %}{% endblock but2 %}</a>
                </div>
            </div>
        </div>
    </div>

    <script>
    function showDiv(divID) {
        document.getElementById("TTS").style.display = "none";
        document.getElementById("STS").style.display = "none";

        document.getElementById(divID).style.display = "block";
    }
    </script>
{% endblock content %}
