{% extends "df_audio.html" %}

{% block tit %}
    AUDIO DEEPFAKES
{% endblock tit %}

{% block audio %}
    AI can do many things with audio recordings, but deepfakes are concerned with
    <h6 style="color: var(--btn-color-pri)">creating</h6> a voice and<h6 style="color: var(--btn-color-pri)">
    converting</h6> one voice into another
{% endblock audio %}


<!--    HOW     -->
{% block how %}
    How does it work{% endblock how %}

{% block how2 %}
    Instead of pictures, the AI is given audio recordings of a specific person for training
{% endblock how2 %}

{% block how3 %}
    Once the training is completed, the AI is able to produce speech that
{% endblock how3 %}

{% block how4 %}
    can be <h6 style="color: var(--btn-color-pri)">easily understood</h6>
{% endblock how4 %}

{% block how5 %}
    <h6 style="color: var(--btn-color-pri)">sounds indistinguishable </h6>from the source
{% endblock how5 %}


<!--    TTS & STS     -->
{% block tts %}
    Text-to-speech synthesis
{% endblock tts %}

{% block tts2 %}
    Text-to-speech or TTS is a way to generate speech from a written text
{% endblock tts2 %}

{% block sts %}
    Speech-to-speech conversion
{% endblock sts %}

{% block sts2 %}
    Speech-to-speech or STS is a way to make one person sound as another
{% endblock sts2 %}


<!--    TTS WHY     -->
{% block ttswhy %}
    Why use TTS{% endblock ttswhy %}

{% block ttswhy2 %}
    TTS adds accessibility to any text for people with visual impairments or other disabilities.
{% endblock ttswhy2 %}

{% block ttswhy3 %}
    Easy and fast way to create long recordings, such as audiobooks.
{% endblock ttswhy3 %}

{% block ttswhy4 %}
    TTS is the way digital assistants such as Siri or Alexa communicate with you.
{% endblock ttswhy4 %}

{% block ttswhy5 %}
    Convenient way for streamers, youtubers etc. to not have to read messages such as donation messages.
{% endblock ttswhy5 %}

{% block ttswhy6 %}
    For fun - it is a way to "make others" say silly things.
{% endblock ttswhy6 %}


<!--    STS WHY     -->
{% block stswhy %}
    Why use STS{% endblock stswhy %}

{% block stswhy2 %}
    Dubbing of movies, adds etc. can be done anyone and not change how the actors and actresses sound.
{% endblock stswhy2 %}

{% block stswhy3 %}
    STS can be found in online games and voice parodies.
{% endblock stswhy3 %}

{% block stswhy4 %}
    Creation of "AI covers" uses STS to make songs sound like they were sung by other artists.
{% endblock stswhy4 %}

{% block stswhy5 %}
    The main advantage of STS over TTS is the possibility to produce deepfakes in real-time, this means that the voice
    is converted as the person is speaking.
{% endblock stswhy5 %}


<!--   WHAT     -->
{% block what %}
    What to look out for{% endblock what %}

{% block what2 %}
    Since the deepfake may sound identical to a person you know it can be easy to exploit this
{% endblock what2 %}

{% block vish3 %}
    an attack where the voice is used to gain victims trust and the aim can be fraud or stealing sensitive information
{% endblock vish3 %}

{% block vish4 %}
    Imagine getting a call from someone that sounds like your boss/subordinate asking you for a password your company
    uses or a door code
{% endblock vish4 %}

{% block vish5 %}
    Or your family member in distress asking you for some money
{% endblock vish5 %}

{% block scam1 %}
    an attack where the aim is to defraud you of your money
{% endblock scam1 %}

{% block scam2 %}
    often seen in form of adds, but could be even phone calls, podcasts...
{% endblock scam2 %}

{% block scam3 %}
    a well-known person (and someone you trust) tells you to buy or to invest in something
{% endblock scam3 %}

{% block scam4 %}
    only for you to see neither the money nor product/service you paid for
{% endblock scam4 %}

{% block bio1 %}
    Biometrics
{% endblock bio1 %}

{% block bio2 %}
    an attacker committing identity theft and using your voice can lead to these systems being unable to distinguish
    between you and them
{% endblock bio2 %}

{% block bio3 %}
    things like smart locks with voice activation or telephone transactions, where voice is used to confirm ones
    identity are at risk
{% endblock bio3 %}

{% block what3 %}
    <p class="text">Using voice deepfakes is also easy way to spread</p> disinformation<p class="text">, because
    an attacker can make anyone say things they never said and would never say</p>
{% endblock what3 %}

{% block what4 %}
    misleading information, propaganda or racist remarks can be used to hurt anyone in the eyes of others or to support
    ones own agenda
{% endblock what4 %}



<!--    TTS SCENARIOS     -->
{% block ttsscen %}
    How can TTS do harm in practice{% endblock ttsscen %}


{% block ttsscen1 %}
    Scenario
{% endblock ttsscen1 %}

{% block ttsscen11 %}
    A tech-savvy scammer plans to defraud individuals by impersonating a well-known actor in a commercial.
{% endblock ttsscen11 %}

{% block ttsscen12 %}
    The scammer utilizes deepfake technology to convincingly replicate the actor's voice and crafts a script for the
    scam.
{% endblock ttsscen12 %}

{% block ttsscen13 %}
    Creating a fake investment opportunity, the scammer employs a text-to-speech algorithm to narrate the script in the
    actor's voice.
{% endblock ttsscen13 %}

{% block ttsscen14 %}
    The narration promotes a fraudulent investment scheme, leveraging the actor's credibility to gain trust.
{% endblock ttsscen14 %}

{% block ttsscen15 %}
    The scammer disseminates the audio message through various channels, including YouTube ads, social media, and
    messaging platforms.
{% endblock ttsscen15 %}

{% block ttsscen16 %}
    Unsuspecting victims, deceived by the convincing voice, fall prey to the scam, investing money in the fraudulent
    scheme.
{% endblock ttsscen16 %}


{% block ttsscen2 %}
    scenario
{% endblock ttsscen2 %}

{% block ttsscen21 %}
    A notorious fake news outlet aims to spread disinformation about a specific politician.
{% endblock ttsscen21 %}

{% block ttsscen22 %}
    The outlet downloads a video of the politician's speech and replicates their voice using deepfake technology.
{% endblock ttsscen22 %}

{% block ttsscen23 %}
    Crafting a script portraying the politician in a manner contrary to their beliefs, the outlet employs text-to-speech
    deepfake technology for narration.
{% endblock ttsscen23 %}

{% block ttsscen24 %}
    The outlet replaces the original audio in the video with the deepfake voice.
{% endblock ttsscen24 %}

{% block ttsscen25 %}
    The fabricated news story is published, supported by the deepfake, and outraged readers share the misinformation
    on social media.
{% endblock ttsscen25 %}

{% block ttsscen26 %}
    Other fake news outlets amplify the narrative, further damaging the politician's reputation and enhancing the fake
    story's credibility.
{% endblock ttsscen26 %}

<!--    STS SCENARIOS     -->
{% block stsscen %}
    How can STS do harm in practice{% endblock stsscen %}


{% block stsscen1 %}
    Scenario
{% endblock stsscen1 %}

{% block stsscen11 %}
    A hacker, aiming to access a company's system, opts for voice conversion over traditional hacking methods.
{% endblock stsscen11 %}

{% block stsscen12 %}
    After identifying an employee with sufficient clearance, the hacker gathers information from the corporate website
    and social networks, including the target's habits.
{% endblock stsscen12 %}

{% block stsscen13 %}
    Discovering the target frequents a café, the hacker records the employee's speech covertly during conversations.
{% endblock stsscen13 %}

{% block stsscen14 %}
    Using segments of the recorded audio, the hacker analyzes and replicates the target's speech through voice
    conversion.
{% endblock stsscen14 %}

{% block stsscen15 %}
    Posing as the employee, the hacker calls the company's IT department, leveraging the replicated voice to request a
    forgotten password.
{% endblock stsscen15 %}

{% block stsscen16 %}
    The small size of the company allows the hacker's ruse to succeed, as the IT specialist immediately provides the
    supposed coworker with the forgotten password, granting unauthorized access.
{% endblock stsscen16 %}


{% block stsscen2 %}
    scenario
{% endblock stsscen2 %}

{% block stsscen21 %}
    A crafty thief, driven by a desire for financial gain, targets a wealthy family by exploiting their familial
    concern.
{% endblock stsscen21 %}

{% block stsscen22 %}
    The thief thoroughly researches the target's social media, discovering that the parents are currently on vacation
    through images and videos.
{% endblock stsscen22 %}

{% block stsscen23 %}
    Utilizing the mother's voice heard in videos, the thief creates a deepfake and employs voice conversion technology
    to mimic her voice convincingly.
{% endblock stsscen23 %}

{% block stsscen24 %}
    Seizing a strategic moment, the thief places a call to the target, impersonating the distressed mother in need
    during the vacation.
{% endblock stsscen24 %}

{% block stsscen25 %}
    Employing voice conversion technology to mimic the mother's voice, the thief fabricates an emergency, urgently
    requesting financial assistance.
{% endblock stsscen25 %}

{% block stsscen26 %}
    Capitalizing on the emotional distress and urgency, the thief successfully convinces the target to wire them money,
    completing the deceptive scheme.
{% endblock stsscen26 %}

{% block misc %}
    General
{% endblock misc %}



{% block but1 %}
    Back
{% endblock but1 %}

{% block but2 %}
    Continue
{% endblock but2 %}


{% block step11 %}
    Step
{% endblock step11 %}
{% block step12 %}
    Step
{% endblock step12 %}
{% block step13 %}
    Step
{% endblock step13 %}
{% block step21 %}
    Step
{% endblock step21 %}
{% block step22 %}
    Step
{% endblock step22 %}
{% block step23 %}
    Step
{% endblock step23 %}

{% block ttss %}
    Attacker targeting a bank
{% endblock ttss %}
{% block ttss1 %}
    The attacker gets access to his victim's personal information and voice sample from social media.
{% endblock ttss1 %}
{% block ttss2 %}
    The attacker writes scenarios of some possible conversation patterns and using AI he creates TTS deepfakes ahead
    of time, but he is also able to produce more at a moments notice.
{% endblock ttss2 %}
{% block ttss3 %}
    Using the deepfakes he calls victim's bank asking for a money transfer.<br><br>Both bank employee and bank's voice
    recognition software verify the attacker as the victim and proceed with the money transfer.
{% endblock ttss3 %}

{% block stss %}
    Fraudster targeting a company
{% endblock stss %}
{% block stss1 %}
    The fraudster is able to extract voice samples from speech a manager of his target company gave and which was
    recorded and posted on YouTube.
{% endblock stss1 %}
{% block stss2 %}
    Using AI STS technology he is able to make himself sound like said manager during a phone-call he makes to an
    accountant working for the company.
{% endblock stss2 %}
{% block stss3 %}
    Since the accountant can hear the manager's voice during the phone-call after some persuasion the attacker is able
    to make the accountant transfer company's money to alleged business partner.
{% endblock stss3 %}
