{% extends "df_general.html" %}

{% block deep %}
  <p class="text">refers to </p>deep learning<p class="text"> (type of artificial intelligence or
  </p>AI<p class="text"> for short) which is used to generate </p>fakes
{% endblock deep %}

{% block fake %}
  <p class="text">events that never happened, who are most often presented in the
  form of a</p> text <p class="text">or an </p>image<p class="text">,</p> audio <p class="text">or
  </p> video recordings
{% endblock fake %}

<!-- DF WHAT -->
{% block df_what %}
    What are deepfakes&nbsp;?
{% endblock df_what %}

{% block df %}
  In general deepfakes are AI-manipulated images, videos or audio of people
{% endblock df %}

{% block lets %}
  Let's take images&nbsp;:
{% endblock lets %}

{% block no %}
  Not a
{% endblock no %}

{% block study %}
    If you can see why, that's great! Studies
    <a href="https://www.sciencedirect.com/science/article/pii/S2589004221013353#sec2"
        style="color: darkred" target="_blank" rel="noopener noreferrer">
        like this</a>
    show that people can determine what is and isn't a deepfake in 60-80% of cases when given this
    task.
{% endblock study %}

{% block study2 %}
    On the other hand studies <a href="#"
       style="color: darkred" target="_blank" rel="noopener noreferrer">like this</a>
    show that 97% of people don't reveal a voice deepfake during a conversation.
{% endblock study2 %}



<!--  WHAT  -->
{% block what %}
    What can deepfakes be used for&nbsp;?
{% endblock what %}

{% block what2 %}
    Entertainment
{% endblock what2 %}

{% block what3 %}
    Education
{% endblock what3 %}

{% block what4 %}
    Healthcare
{% endblock what4 %}

{% block what5 %}
    Disinformation
{% endblock what5 %}

{% block what6 %}
    Harassment
{% endblock what6 %}

{% block what7 %}
    Fraud
{% endblock what7 %}



<!--  HOW  -->
{% block how %}
  Deepfakes creating or altering person's voice or face can be almost unrecognisable from the real thing
{% endblock how %}

{% block how2 %}
  How does AI create things&nbsp;?
{% endblock how2 %}

{% block how3 %}
  <p class="text">Let's take </p>AI<p class="text"> that is tasked
    with generating an </p>image <p class="text">of a person</p>
{% endblock how3 %}

{% block how4 %}
  <p class="text">The AI is initially provided with </p>numerous images <p class="text">of people
  and is tasked with analyzing them during a </p>training<p class="text"> process</p>
{% endblock how4 %}

{% block how5 %}
  <p class="text">Afterwards, it is assigned a task to generate a </p>new image <p class="text">based
  on the</p> outcomes<p class="text"> of this training</p>
{% endblock how5 %}

{% block how6 %}
  <p class="text">When executed right the</p> AI creates<p class="text"> an image of a person that
  has</p> correct features <p class="text">such as head shape, nose, mouth etc.</p>
{% endblock how6 %}

{% block how7 %}
    Since the AI knows neither what a person is nor what nose or eyes should look like,
    it relies on the images we provided
{% endblock how7 %}

{% block how8 %}
  If we provide only images of man with blonde hair, well we will get an image of a
  man with blonde hair back
{% endblock how8 %}

{% block how9 %}
  This may or may not be the desired behaviour, that depends on what we want to achieve
{% endblock how9 %}

{% block how10 %}
  This process is the same for audio and video as well, it just needs an appropriate input
{% endblock how10 %}


<!--  WHY  -->
{% block why %}
    Why do deepfakes seem so real&nbsp;?
{% endblock why %}

{% block why2 %}
  <p class="text">They use </p><h5>G</h5><p class="text">enerative
  </p><h5>A</h5><p class="text">dvesarial </p><h5>N</h5><p class="text">etwork
  (</p>GAN<p class="text">) to achieve this</p>
{% endblock why2 %}

{% block why3 %}
  <p class="text">GAN is composed of </p>2 AI<p class="text">s</p>
{% endblock why3 %}

{% block why4 %}
  <p class="text">1st AI called</p> generator <p class="text">tries to generate
  the best possible deepfake</p>
{% endblock why4 %}

{% block why5 %}
  <p class="text">2nd AI called</p> discriminator<p class="text"> can receive either a
  </p>deepfake<p class="text"> made by the generator or a</p> real image<p class="text">, and
  it has to correctly determine if it is a deepfake or not</p>
{% endblock why5 %}

{% block why6 %}
  Once the generator can produce deepfakes that can fool the discriminator reliably, they
  can be used to fool humans as well as machines
{% endblock why6 %}

<!-- ATTACKER MODEL  -->
{% block am %}
    Attacker model
{% endblock am %}


{% block step1 %}
    Step
{% endblock step1 %}
{% block step2 %}
    Step
{% endblock step2 %}
{% block step3 %}
    Step
{% endblock step3 %}

{% block step11 %}
    PREPARATION
{% endblock step11 %}
{% block step22 %}
    CREATION
{% endblock step22 %}
{% block step33 %}
    USAGE
{% endblock step33 %}


{% block prep %}
    A person creating deepfakes first has to collect data.<br><br>
    This usually are photos, videos and recorded speech of a selected person, but it can also include
    personal and workplace information, future plans etc.<br><br>
    The best sources are often social media, sharing platforms and broadcasting.
{% endblock prep %}
{% block creation %}
    With the collected data AI can now create deepfakes.<br><br>
    These can for example be explicit images of a person, videos where a person is acting like a
    drunk-head or speech of a person in which they are making racist remarks.
{% endblock creation %}
{% block usage %}
    The attacker can now deploy the deepfakes they created.<br><br>
    Asking for a money transfer via phone-call, getting access to company's sensitive information during a video
    conference or harassing/blackmailing someone online are just few examples of how they can choose to use the
    deepfakes.
{% endblock usage %}


<!--  BUTTONS  -->
{% block but1 %}
    Continue
{% endblock but1 %}