{% extends "layout.html" %}
{% block content %}

<div class="container-lg my-5">
    <!--    GENERAL OVERVIEW OF DEEPFAKES-->
    <div class="container d-flex justify-content-center mb-4">
        <h2>DEEPFAKES</h2>
    </div>
    <div class="container">
        <div class="row pb-2 pb-lg-0">
            <div class="col-12">
                <h5>DEEP: {% block deep %}{% endblock deep %}</h5>
            </div>
        </div>
        <div class="row pb-2 pb-lg-0">
            <div class="col-12">
                <h5>FAKES: {% block fake %}{% endblock fake %}</h5>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-4 text-center">
        <h5>{% block df %}{% endblock df %}</h5>
    </div>
</div>

    <!--    WHAT CAN DEEPFAKES BE USED FOR-->
<div class="py-4" style="background-color: var(--text-color-pri); filter: brightness(90%)">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4 pt-3">
                <h1 style="color: var(--main-bg-color)">{% block what %}{% endblock what %}</h1>
            </div>
            <div class="col-12 col-md-6 my-auto">
                <div class="btn-group text-center">
                    <div class="btn-group-vertical">
                        <a class="btn btn-audio btn-lg" rel="noopener noreferrer" target="_blank"
                           href="https://www.cioinsight.com/news-trends/deepfake-awareness-top-gun/">
                            {% block what2 %}{% endblock what2 %}
                        </a>
                        <a class="btn btn-audio btn-lg" rel="noopener noreferrer" target="_blank"
                           href="https://www.expresscomputer.in/guest-blogs/future-of-deepfake-in-education-and-employability-sector/106735/">
                            {% block what3 %}{% endblock what3 %}
                        </a>
                        <a class="btn btn-audio btn-lg" rel="noopener noreferrer" target="_blank"
                           href="https://www.paubox.com/blog/can-deepfakes-be-beneficial-in-healthcare">
                            {% block what4 %}{% endblock what4 %}
                        </a>
                    </div>
                    <h1 class="my-auto px-2 mx-auto" style="color: var(--main-bg-color)">vs</h1>
                    <div class="btn-group-vertical">
                        <a class="btn btn-audio btn-lg" rel="noopener noreferrer" target="_blank"
                           href="https://www.nytimes.com/2023/02/07/technology/artificial-intelligence-training-deepfake.html">
                            {% block what5 %}{% endblock what5 %}
                        </a>
                        <a class="btn btn-audio btn-lg" rel="noopener noreferrer" target="_blank"
                           href="https://www.vice.com/en/article/k7adzw/cheerleading-mom-accused-of-creating-deepfakes-`of-teens">
                            {% block what6 %}{% endblock what6 %}
                        </a>
                        <a class="btn btn-audio btn-lg" rel="noopener noreferrer" target="_blank"
                           href="https://edition.cnn.com/2024/02/04/asia/deepfake-cfo-scam-hong-kong-intl-hnk/index.html">
                            {% block what7 %}{% endblock what7 %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div >
    <!--    HOW DOES AI CREATE THINGS-->
    <div class="container py-5">
        <div class="row text-center">
            <h5>! {% block how %}{% endblock how %} !</h5>
        </div>
            <div class="row mt-4 justify-content-between">
                <div class="col-12 col-md-8">
                    <div class="container pe-3">
                        <div class="row mb-2 mb-md-0">
                            <div class="col-12 text-center">
                                <h5>{% block how3 %}{% endblock how3 %}</h5>
                            </div>
                        </div>
                        <div class="row mb-2 mb-md-0">
                            <div class="col-12">
                                <br>
                            </div>
                        </div>
                        <ol>
                            <li>
                                {% block how4 %}{% endblock how4 %}
                            </li>
                            <li>
                                {% block how5 %}{% endblock how5 %}
                            </li>
                            <li>
                                {% block how6 %}{% endblock how6 %}
                            </li>
                        </ol>
                        <div class="container ms-2">
                            <ul>
                                <li>
                                    <p class="text">{% block how7 %}{% endblock how7 %}</p>
                                </li>
                                <li>
                                    <p class="text">{% block how8 %}{% endblock how8 %}</p>
                                </li>
                                <li>
                                    <p class="text">{% block how9 %}{% endblock how9 %}</p>
                                </li>
                                <li>
                                    <p class="text">{% block how10 %}{% endblock how10 %}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 my-auto order-first order-md-last">
                    <h1>{% block how2 %}{% endblock how2 %}</h1>
                </div>
            </div>
    </div>
</div>

<div style="background-color: var(--btn-color-sec)">
    <!--    WHY SO ARE DEEPFAKES SO REAL?-->
    <div class="container py-4">
        <div class="mt-4 text-center">
            <h1>{% block why %}{% endblock why %}</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row mb-2 mb-md-0">
                        <div class="col-12">
                            {% block why2 %}{% endblock why2 %}
                        </div>
                    </div>
                    <div class="row mb-2 mb-md-0">
                        <div class="col-12">
                            <br>
                        </div>
                    </div>
                    <div class="row mb-2 mb-md-0">
                        <div class="col-12">
                            {% block why3 %}{% endblock why3 %}
                        </div>
                    </div>
                    <div class="row mb-2 mb-md-0">
                        <div class="col-12">
                            <ul>
                                <li>
                                    {% block why4 %}{% endblock why4 %}
                                </li>
                                <li>
                                    {% block why5 %}{% endblock why5 %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-2 mb-md-0">
                        <div class="col-12">
                            <p class="text">{% block why6 %}{% endblock why6 %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 my-auto">
                    <img src="{{ url_for('static', filename='images/gan.png')}}" alt="...">
                </div>
            </div>
        </div>
    </div>

    <!--    CONT/END BUTTONS-->
    <div class="container mt-3 d-flex justify-content-center">
        <div class="fixed-sm-bottom mb-1">
            <div class="row">
                <div class="col-12 my-2 text-center">
                    <a class="btn btn-my-primary" href="{{ url_for('images') }}">{% block but1 %}{% endblock but1 %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}