{% extends "df_general.html" %}

{% block text %}
    Chtěli by jste se dozvědět o
{% endblock text %}

{% block btn_text %}
    Začít Kurz
{% endblock btn_text %}

{% block btn_text2 %}
    Začít Kurz
{% endblock btn_text2 %}

{% block download_btn_text %}
    Stáhnout Prezentaci
{% endblock download_btn_text %}

{% block modal_title %}
    Přeskočit část?
{% endblock modal_title %}

{% block modal_body %}
    Zdá se, že už jste tento kurz někdy začaly.<br>
    Chtěli by jste část přeskočit?
{% endblock modal_body %}

{% block modal_btn1 %}
    Ne
{% endblock modal_btn1 %}

{% block modal_btn2 %}
    Přeskočit Informace
{% endblock modal_btn2 %}

{% block modal_btn3 %}
    Přeskočit dotazník
{% endblock modal_btn3 %}

{% block modal_btn4 %}
    Přeskočit Informace
{% endblock modal_btn4 %}
