{% extends "df_images.html" %}

{% block tit %}
    IMAGE DEEPFAKES
{% endblock tit %}

{% block head %}
    Creating person
{% endblock head %}


<!--    HOW     -->
{% block how %}How does it work{% endblock how %}

{% block how2 %}
    <p class="text">The </p>AI<p class="text"> is tasked with creating an image of a person,
    and it may be provided with some</p> specifications<p class="text">.</p>
{% endblock how2 %}

{% block how3 %}
    <p class="text">These may be as simple as </p>"A firefighter" <p class="text">or a list of
    specifications </p>"Blonde, Woman, Black eyeglasses, sad..."<p class="text">.</p>
{% endblock how3 %}


<!--    WHY     -->
{% block why %}Why do this{% endblock why %}

{% block why2 %}
    <p class="text">To train a </p>facial recognition software<p class="text"> such as the one that
    most phones use, without the need for a lot of real people.</p>
{% endblock why2 %}

{% block why3 %}
    <p class="text">To remain anonymous by creating </p>"an avatar"<p class="text"> instead of
    providing a real photo of yourself.</p>
{% endblock why3 %}


<!--    WHAT     -->
{% block what %}What to look out for{% endblock what %}

{% block what2 %}
    Do not assume <p class="text">that everyone you communicate with online is a real person just
    because they have a picture on social media account.</p>
{% endblock what2 %}

{% block what3 %}
    Do not trust <p class="text">everyone just because you assume you know what they look like.</p>
{% endblock what3 %}


<!--    EDIT     -->
{% block edit %}
    Editing person
{% endblock edit %}

{% block edit2 %}
    These are deepfakes of some well known people, can you recognize them?<br>
    <p class="text">(click each image to learn more)</p>
{% endblock edit2 %}









<!--    FACE SWAP     -->
{% block swap %}
    <p class="text">This is Joe Biden, the 46th President of the United States, but he had his </p><h5>FACE SWAPPED</h5>
    <p class="text">with Petr Pavel, the 4th President of the Czech Republic</p>
{% endblock swap %}


<!--    HOW     -->
{% block swaphow %}How does it work{% endblock swaphow %}

{% block swaphow2 %}
    The AI is given 2 images.
{% endblock swaphow2 %}

{% block swaphow3 %}
    It takes a face of the person in the first image.
{% endblock swaphow3 %}

{% block swaphow4 %}
    And puts it as the face of the person in the second image.
{% endblock swaphow4 %}


<!--    WHY     -->
{% block swapwhy %}Why do this{% endblock swapwhy %}

{% block swapwhy2 %}
    For fun! <p class="text"> - Just try a face swap applications and swap faces with your friend or
    a celebrity.</p>
{% endblock swapwhy2 %}


<!--    WHAT     -->
{% block swapwhat %}What to look out for{% endblock swapwhat %}

{% block swapwhat2 %}
    People can swap your face or face of somebody you know to any kind of image e.g. a pornographic one.
{% endblock swapwhat2 %}

{% block swapwhat3 %}
    <p class="text">This image may then be used for an</p> extortion<p class="text">,</p>
    blackmail<p class="text">, as a</p> fraudulent evidence <p class="text">or just to
    spread </p>disinformation<p class="text">.</p>
{% endblock swapwhat3 %}

{% block swapwhat4 %}
    <p class="text">Face swapping might spoof some </p>facial recognition software<p class="text">,
    though to a lesser degree than some other types of deepfakes.</p>
{% endblock swapwhat4 %}


<!--    SCENARIOS     -->
{% block swapscen %}How can it work in practice{% endblock swapscen %}


{% block swapscen1 %}
    Scenario
{% endblock swapscen1 %}

{% block swapscen11 %}
    The attacker finds the victim's social media account, which gives them
        access to the victim's photos, additional accounts, personal information, etc.
{% endblock swapscen11 %}

{% block swapscen12 %}
    The attacker searches for pornographic images of someone whose body resembles that of the victim, or synthesizes
    new ones.
{% endblock swapscen12 %}

{% block swapscen13 %}
    The attacker creates deepfakes of the victim and then proceeds to blackmail
    them with these manipulated images, threatening to leak the content unless certain
    demands are met.
{% endblock swapscen13 %}


{% block swapscen2 %}
    Scenario
{% endblock swapscen2 %}

{% block swapscen21 %}
    One classmate is bullying another, and the victim decides to retaliate by taking steps to get the bully kicked out
    of school.
{% endblock swapscen21 %}

{% block swapscen22 %}
    As classmates, obtaining a photo of the aggressor is easy for the target of bullying.
{% endblock swapscen22 %}

{% block swapscen23 %}
    Subsequently, they create a face-swapped deepfake using a picture of the bully and an image of a person engaged in
    alcohol and smoking activities.
{% endblock swapscen23 %}

{% block swapscen24 %}
    The victim then creates a new email to anonymously send the deepfake to their school, resulting in disciplinary
    measures for the tormentor.
{% endblock swapscen24 %}


{% block swapscen3 %}
    Scenario
{% endblock swapscen3 %}

{% block swapscen31 %}
    An entitled parent is dissatisfied with the teacher's treatment of their child.
{% endblock swapscen31 %}

{% block swapscen32 %}
   The parent downloads images of the teacher from the school's website and nude images of a person resembling them.
{% endblock swapscen32 %}

{% block swapscen33 %}
    They use this material to create a deepfake, superimposing the teacher's face onto the explicit images.
{% endblock swapscen33 %}

{% block swapscen34 %}
    Afterward, the parent shares the manipulated content to accuse the teacher
    of inappropriate behavior, either with other parents or via a complaint with the school,
    demanding the teacher's dismissal.
{% endblock swapscen34 %}




<!--    FACE MANIPULATION     -->
{% block man %}
    <p class="text">This is Petr Fiala, the 13th Prime minister of the Czech Republic and he has </p><h5>MANIPULATED
    FACE</h5><br><br><p class="text">He was supposed to have red hair, squared glasses, more colorful lips, ping tie,
    scar like Harry Potter, and he was supposed to be in a blurred nightclub.<br><br>Resounding success...</p>
{% endblock man %}


<!--    HOW     -->
{% block manhow %}How does it work{% endblock manhow %}

{% block manhow2 %}
    A source image and list of manipulated features is provided to the AI.
{% endblock manhow2 %}

{% block manhow3 %}
    The features may be added, changed or removed.
{% endblock manhow3 %}

{% block manhow4 %}
    Things like hair colour or expression can be changed and eyeglasses or tattoos can be added.
{% endblock manhow4 %}


<!--    WHY     -->
{% block manwhy %}Why do this{% endblock manwhy %}

{% block manwhy2 %}
    To make better or more funny photos without the need for photoshop.
{% endblock manwhy2 %}

{% block manwhy3 %}
    Save money on a make-up artist.
{% endblock manwhy3 %}


<!--    WHAT     -->
{% block manwhat %}What to look out for{% endblock manwhat %}

{% block manwhat2 %}
    Strangers can manipulate your photos and for example make you look drunk or
    add an unwanted feature such as a tattoo.
{% endblock manwhat2 %}

{% block manwhat3 %}
    <p class="text">It is easy to</p> spread disinformation<p class="text"> online with manipulated
    images of people.</p>
{% endblock manwhat3 %}


<!--    SCENARIOS     -->
{% block manscen %}How can it work in practice{% endblock manscen %}


{% block manscen1 %}
    Scenario
{% endblock manscen1 %}

{% block manscen11 %}
    A coworker holds a grudge against the victim, feeling wronged by them in some way.
{% endblock manscen11 %}

{% block manscen12 %}
    The resentful coworker obtains an older photo of the victim with visible areas like the neck, inner wrist, or
    other common tattoo locations.
{% endblock manscen12 %}

{% block manscen13 %}
    The coworker then trains an AI to add prohibited tattoos, such as a swastika, to the victim's image.
{% endblock manscen13 %}

{% block manscen14 %}
    Subsequently, they create deepfakes featuring the victim with these added tattoos and anonymously send them to the
    victim's boss via email or messaging.
{% endblock manscen14 %}


{% block manscen2 %}
    Scenario
{% endblock manscen2 %}

{% block manscen21 %}
    A trailing politician decides to create controversy for their opponent during an election.
{% endblock manscen21 %}

{% block manscen22 %}
    They task their political strategist with crafting deepfakes of the opposing politician, who in turn, hires a
    political saboteur.
{% endblock manscen22 %}

{% block manscen23 %}
    Given the public figure status of the target politician, the saboteur has ample access to photos and chooses two
    of them.
{% endblock manscen23 %}

{% block manscen24 %}
    The selected images include photos of the target politician with their significant other and their personal
    assistant.
{% endblock manscen24 %}

{% block manscen25 %}
    Manipulating facial expressions, the saboteur portrays the politician flirting with the assistant and angrily
    confronting their significant other.
{% endblock manscen25 %}

{% block manscen26 %}
    The deepfakes are strategically shared on social media, using fake accounts to amplify their impact, even reaching
    real people's profiles for increased traction.
{% endblock manscen26 %}


{% block manscen3 %}
    Scenario
{% endblock manscen3 %}

{% block manscen31 %}
    A leading artist on the verge of a major exhibition draws attention and potential sponsors, provoking jealousy in
    a rival artist.
{% endblock manscen31 %}

{% block manscen32 %}
    The rival artist, fueled by envy, hires a cyber operative to create scandalous images from a private meeting
    between them.
{% endblock manscen32 %}

{% block manscen33 %}
    The operative captures moments from the meeting, including one where the rival artist appears to raise their hand.
{% endblock manscen33 %}

{% block manscen34 %}
    Employing deepfake face manipulation, the operative crafts an image with the rival artist sporting a black eye,
    suggesting a violent altercation during the meeting.
{% endblock manscen34 %}

{% block manscen35 %}
    The strategically released deepfakes cause a scandal on social media and in art-related publications, impacting
    sponsorship and casting doubt on the leading artist's reputation.
{% endblock manscen35 %}




<!--    FACE MORPHING     -->
{% block mor %}
    <p class="text">This Elon Musk and Dwayne Johnson, but they had their </p><h5>FACEs MORPHED</h5>
{% endblock mor %}


<!--    HOW     -->
{% block morhow %}How does it work{% endblock morhow %}

{% block morhow2 %}
    The AI is given 2 images, and it puts them together (morphs them).
{% endblock morhow2 %}

{% block morhow3 %}
    This creates a new image that looks like both the first and the second person.
{% endblock morhow3 %}

{% block morhow4 %}
    It is so, because the person in the new image shares enough facial features of both people.
{% endblock morhow4 %}


<!--    WHY     -->
{% block morwhy %}Why do this{% endblock morwhy %}

{% block morwhy2 %}
    Applications that show you how will your kids look that use picture of you and your spouse use face morphing.
{% endblock morwhy2 %}

{% block morwhy3 %}
    Applications that show you how will you look when you get older also use this
    technique.
{% endblock morwhy3 %}


<!--    WHAT     -->
{% block morwhat %}What to look out for{% endblock morwhat %}

{% block morwhat2 %}
    <p class="text">Because the image of a person shares facial features of both people, it may be
    used to spoof</p> facial recognition software<p class="text">.</p>
{% endblock morwhat2 %}

{% block morwhat3 %}
    <p class="text">This is especially problem for Automatic Border Control where a passport with
    a face-morphed image may be used by</p> 2 people with<p class="text"> only</p> 1
    credential<p class="text">.</p>
{% endblock morwhat3 %}


<!--    SCENARIOS     -->
{% block morscen %}How can it work in practice{% endblock morscen %}


{% block morscen1 %}
    Scenario
{% endblock morscen1 %}

{% block morscen11 %}
    An internationally wanted criminal needs to enter a country via plane, without being detected by the authorities.
{% endblock morscen11 %}

{% block morscen12 %}
    They ask a pal to lend them their ID and a photo, in order to make a new passport.
{% endblock morscen12 %}

{% block morscen13 %}
    The criminal takes photo of themselves and of their pal and morphs these
    photos together to create a deepfake photo, which will be put onto the new passport.
{% endblock morscen13 %}

{% block morscen14 %}
    Armed with photo and legitimate ID of a non-wanted person, the criminal can legitimately make a new passport.
{% endblock morscen14 %}

{% block morscen15 %}
    Once the passport arrives, the criminal can board any plane and use the automated border control system to enter
    a country inconspicuously.
{% endblock morscen15 %}


{% block morscen2 %}
    Scenario
{% endblock morscen2 %}

{% block morscen21 %}
    A corporate spy aims to infiltrate a rival corporation to gather sensitive information.
{% endblock morscen21 %}

{% block morscen22 %}
    The spy searches the company's website for employee photos and selects a target whose role aligns with their
    objective.
{% endblock morscen22 %}

{% block morscen23 %}
    Using advanced face-morphing technology, the spy creates a convincing deepfake photo by blending their own facial
    features with the chosen employee's.
{% endblock morscen23 %}

{% block morscen24 %}
    Armed with the face-morphed image, the spy leverages social networks to gather additional information about the
    target's role, habits, and interactions within the company.
{% endblock morscen24 %}

{% block morscen25 %}
    Infiltrating the corporation, the spy navigates undetected, exploiting the face-morphed photo for security
    clearance and accessing confidential information.
{% endblock morscen25 %}





{% block but1 %}
    Back
{% endblock but1 %}

{% block but2 %}
    Continue
{% endblock but2 %}

{% block im_btn %}
    Another Person
{% endblock im_btn %}

{% block im %}
    This is a created person
{% endblock im %}



{% block mors %}
    Internationally wanted criminal
{% endblock mors %}

{% block step31 %}
    Step
{% endblock step31 %}
{% block step32 %}
    Step
{% endblock step32 %}
{% block step33 %}
    Step
{% endblock step33 %}

{% block mor1 %}
    The criminal needs to enter a country via plane, undetected by the authorities. He asks his friend for photo, and
    his ID card.
{% endblock mor1 %}
{% block mor2 %}
    Using the AI, he morphs his photo with the photo of his friend to create a deepfake that he will use as a passport
    photo later.
{% endblock mor2 %}
{% block mor3 %}
    This deepfake and ID card of a non-wanted person, the criminal can legitimately make a new passport which can pass
    the automated border control system to enter the country inconspicuously.
{% endblock mor3 %}


{% block mans %}
    Trailing politician during an election
{% endblock mans %}

{% block step21 %}
    Step
{% endblock step21 %}
{% block step22 %}
    Step
{% endblock step22 %}
{% block step23 %}
    Step
{% endblock step23 %}

{% block man1 %}
    The politician asks his strategist to create controversy for his opponent. Given the public figure status of the
    target politician the access to target's photos is easy and two of them are selected.
{% endblock man1 %}
{% block man2 %}
    One photo is of the target politician with his spouse and the other of him with his PA. The strategist now
    creates deepfakes with manipulated expressions portraying the politician flirting with the assistant and angrily
    confronting his partner.
{% endblock man2 %}
{% block man3 %}
    The deepfakes are strategically shared on social media, using fake accounts to amplify their impact, even reaching
    real people's profiles for increased traction.
{% endblock man3 %}


{% block swaps %}
    Entitled parent
{% endblock swaps %}

{% block step11 %}
    Krok
{% endblock step11 %}
{% block step12 %}
    Krok
{% endblock step12 %}
{% block step13 %}
    Krok
{% endblock step13 %}

{% block swap1 %}
    An entitled parent is dissatisfied with the teacher's treatment of their child. They download images of the teacher
    from the school's website and nude images of a person resembling them.
{% endblock swap1 %}
{% block swap2 %}
    They use this material to create a deepfake, superimposing the teacher's face onto the explicit images.
{% endblock swap2 %}
{% block swap3 %}
    Afterward, the parent shares the manipulated content to accuse the teacher
    of inappropriate behavior, either with other parents or via a complaint with the school,
    demanding the teacher's dismissal.
{% endblock swap3 %}