{% extends "df_videos.html" %}

{% block tit %}
    VIDEO DEEPFAKES
{% endblock tit %}

{% block vid %}
    Video deepfakes are similar to image deepfakes, it is possible to
{% endblock vid %}

{% block vid2 %}
    <h5>swap</h5> <p class="text">face of person in a video</p>
{% endblock vid2 %}

{% block vid3 %}
    <h5>morph</h5> <p class="text">their face with another face</p>
{% endblock vid3 %}

{% block vid4 %}
    <h5>manipulate</h5> <p class="text">the video to add/remove/change features and accessories to a person</p>
{% endblock vid4 %}

{% block vid5 %}
    <p class="text">Creating a person for a video would be needlessly too difficult and we use</p>
        facial reenactment <p class="text">instead.</p>
{% endblock vid5 %}




{% block free %}
    Facial reenactment
{% endblock free %}

{% block free2 %}
    If face was a mask we can swap and adjust how we see fit, facial reenactment would the
    act of <h5>wearing</h5> <p class="text">this mask and </p><h5>acting</h5><p class="text"> with it.</p>
{% endblock free2 %}


<!--    HOW     -->
{% block how %}How does it work{% endblock how %}

{% block how2 %}
    <p class="text">The AI gets</p> picture(s)<p class="text"> or</p> video(s)<p class="text"> of the
    person who will have their face reenacted.</p>
{% endblock how2 %}

{% block how3 %}
    Then we have to provide either video or audio that we want reenacted.
{% endblock how3 %}

{% block how4 %}
    The product is a video, where the original person is
{% endblock how4 %}

{% block how5 %}
    either moving like the person in the original video
{% endblock how5 %}

{% block how6 %}
    or their lips are matching what is said in the audio we provided
{% endblock how6 %}


<!--    WHY     -->
{% block why %}
    Why do this{% endblock why %}

{% block why2 %}
    Matching lips of a speaker to voice is useful for in dubbing process in movies, commercials etc.
{% endblock why2 %}

{% block why3 %}
    Using an avatar that moves as the original person can be useful to preserve
    anonymity online, e.g. during investigative interviewing.
{% endblock why3 %}

{% block why4 %}
    Making a synthesized virtual characters move can be used in the movie and streaming industry, or it could give
    graphical representation virtual assistants (Siri, Alexa etc.).
{% endblock why4 %}


<!--    WHAT     -->
{% block what %}
    What to look out for{% endblock what %}

{% block what2 %}
    Spreading videos with altered or completely manipulated content is an easy way to spread disinformation.
{% endblock what2 %}

{% block what3 %}
    Stealing someone's identity can be used to exploit applications that use one's face
    to verify identity such as gambling portals or internet banking applications.
{% endblock what3 %}



<!--    SCENARIOS     -->
{% block scen %}
    How can it do harm in practice{% endblock scen %}


{% block scen1 %}
    Scenario
{% endblock scen1 %}

{% block scen11 %}
    A disgruntled employee seeks revenge on their boss, aiming to damage their professional reputation by releasing
    a fake video of their boss.
{% endblock scen11 %}

{% block scen12 %}
    The employee downloads videos of the boss's public speeches and
    presentations available online and leverages deepfake facial reenactment technology
    to create the fake.
{% endblock scen12 %}

{% block scen13 %}
    They superimpose the boss's face onto a manipulated video, making it appear
    as though they are endorsing unethical practices.
{% endblock scen13 %}

{% block scen14 %}
    The employee strategically releases the manipulated video on social media, making it seem like a recent
    public statement made by the boss.
{% endblock scen14 %}

{% block scen15 %}
    The video gains traction, causing public outrage and tarnishing the boss's reputation, leading to potential
    professional consequences for the targeted individual.
{% endblock scen15 %}


{% block scen2 %}
    Scenario
{% endblock scen2 %}

{% block scen21 %}
    A dissatisfied individual, nursing grievances against their ex-partner who has recently found a new relationship,
    decides to retaliate.
{% endblock scen21 %}

{% block scen22 %}
    The person collects photos and videos of their ex-partner from social media and personal archives.
{% endblock scen22 %}

{% block scen23 %}
    Utilizing deepfake facial manipulation, they create misleading videos suggesting the ex-partner engaging in
    inappropriate behavior with someone else.
{% endblock scen23 %}

{% block scen24 %}
    The individual sends the manipulated videos to the ex-partner's new partner and their mutual friends, creating
    strain on the recently formed relationship.
{% endblock scen24 %}

{% block scen25 %}
    The dissatisfied individual watches as the manipulated content creates turmoil, achieving their goal of sabotaging
    the new relationship.
{% endblock scen25 %}


{% block but1 %}
    Back
{% endblock but1 %}

{% block but2 %}
    Continue
{% endblock but2 %}


{% block frs %}
    Dissatisfied employee
{% endblock frs %}

{% block step1 %}
    Step
{% endblock step1 %}
{% block step2 %}
    Step
{% endblock step2 %}
{% block step3 %}
    Step
{% endblock step3 %}

{% block fr1 %}
    Because the employee wants his revenge he records his boss during a meeting and after that he records video of
    himself where he makes a speech encouraging unethical practices.
{% endblock fr1 %}
{% block fr2 %}
    Leveraging AI facial reenactment, he creates a deepfake video, where it seems like it was his boss during the
    recorded meeting who encouraged the shady behaviour.
{% endblock fr2 %}
{% block fr3 %}
    The employee strategically releases the manipulated video on social media where the video gains traction, causing
    public outrage and tarnishing the boss's reputation.
{% endblock fr3 %}

