{% extends "df_videos.html" %}

{% block tit %}
    VIDEO DEEPFAKES
{% endblock tit %}

{% block vid %}
    Video deepfakes jsou podobné jako obrazové deepfakes, je tedy možné
{% endblock vid %}

{% block vid2 %}
    <h5>prohodit</h5> <p class="text">tvář osoby ve videu</p>
{% endblock vid2 %}

{% block vid3 %}
    <h5>morfovat</h5> <p class="text">obličej osoby ve videu s jiným obličejem</p>
{% endblock vid3 %}

{% block vid4 %}
    <h5>manipulovat</h5> <p class="text">video a přidat/odebrat/změnit rysy a doplňky osoby ve videu</p>
{% endblock vid4 %}

{% block vid5 %}
    <p class="text">Vytvoření osoby pro video by bylo zbytečně příliš náročné a používáme místo toho</p> reenactment
    (znovu ztvárnění) obličeje <p class="text">.</p>
{% endblock vid5 %}




{% block free %}
    Reenactment obličeje
{% endblock free %}

{% block free2 %}
    Pokud by obličej byl maskou, kterou můžeme vyměňovat a upravovat, jak uznáme za vhodné, reenactment obličeje by se
    dal přirovnat k <h5>nošení</h5><p class="text"> této masky a</p> <h5>hraní</h5><p class="text"> s ní.</p>
{% endblock free2 %}


<!--    HOW     -->
{% block how %}
    Jak to funguje{% endblock how %}

{% block how2 %}
    <p class="text">Umělá inteligence dostane</p> obrázek(y)<p class="text"> nebo</p> videa<p class="text"> osoby, které
    bude znovu ztvárněna tvář.</p>
{% endblock how2 %}

{% block how3 %}
    Pak musíme poskytnout buď video nebo zvuk, který chceme znovu ztvárnit.
{% endblock how3 %}

{% block how4 %}
    Produktem je video, kde je původní osoba která se
{% endblock how4 %}

{% block how5 %}
    buď se pohybuje jako osoba v původním videu
{% endblock how5 %}

{% block how6 %}
    nebo jejich rty odpovídají tomu, co je řečeno ve zvuku, který jsme poskytli
{% endblock how6 %}


<!--    WHY     -->
{% block why %}
    Proč to dělat{% endblock why %}

{% block why2 %}
    Přizpůsobení rtů (lip sync) hlasu je užitečné při procesu dabingu ve filmech, reklamách atd.
{% endblock why2 %}

{% block why3 %}
    Použití avatara, který se chová stejně jako původní osoba, může být užitečné pro zachování anonymity online, např.
    při investigativním rozhovoru.
{% endblock why3 %}

{% block why4 %}
    Rozpohybování syntetizovaných virtuálních postav je využíváno ve filmovém a streamovacím průmyslu a mohlo by
    poskytnout grafické znázornění virtuálních asistentů (Siri, Alexa atd.).
{% endblock why4 %}


<!--    WHAT     -->
{% block what %}
    Na co si dát pozor{% endblock what %}

{% block what2 %}
    Šíření videí s pozměněným nebo zcela zmanipulovaným obsahem je snadný způsob, jak šířit dezinformace.
{% endblock what2 %}

{% block what3 %}
    Krádež něčí identity lze využít ke zneužití aplikací, které používají k ověření identity něčí obličej, jako jsou
    portály pro hazardní hry nebo aplikace internetového bankovnictví.
{% endblock what3 %}



<!--    SCENARIOS     -->
{% block scen %}
    Jak to může probíhat ve skutečnosti{% endblock scen %}


{% block scen1 %}
    Scénář
{% endblock scen1 %}

{% block scen11 %}
    Nespokojený zaměstnanec se chce pomstít svému šéfovi a poškodit jeho profesní reputaci zveřejněním falešného videa
    svého šéfa.
{% endblock scen11 %}

{% block scen12 %}
    Zaměstnanec si stáhne videa z veřejných projevů a prezentací svého šéfa, které jsou dostupná online a využije
    deepfake technologii pro reenactment obličeje k vytvoření onoho zmanipulovaného videa.
{% endblock scen12 %}

{% block scen13 %}
    Znovu ztvárněním šéfovi tváře vytvoří zmanipulované video, takže to vypadá, jako by šéf podporovali neetické
    praktiky.
{% endblock scen13 %}

{% block scen14 %}
    Zaměstnanec zveřejní zmanipulované video na sociálních sítích, které vypadá jako z nedávného veřejné proslovu šéfa.
{% endblock scen14 %}

{% block scen15 %}
    Video se stává virální a vyvolává veřejné pobouření a poškozuje pověst šéfa, což pro něj následně může mít
    profesní následky.
{% endblock scen15 %}


{% block scen2 %}
    Scénář
{% endblock scen2 %}

{% block scen21 %}
    Pomtychtivý člověk, je naštvaný na svého bývalého partnera, který si nedávno našel nový vztah, se rozhodne jednat.
{% endblock scen21 %}

{% block scen22 %}
    Tato osoba shromáždí fotografie a videa svého bývalého partnera ze sociálních médií a osobních archivů.
{% endblock scen22 %}

{% block scen23 %}
    Pomocí deepfake manipulace s obličejem vytvoří zavádějící videa, která naznačují, že se bývalý partner dopouští
    promiskuitního chování.
{% endblock scen23 %}

{% block scen24 %}
    Následně pošle zmanipulovaná videa novému partnerovi jejich bývalého partnera a jejich společným přátelům,
    což vytváří tlak na nedávno vzniklý vztah.
{% endblock scen24 %}

{% block scen25 %}
    Pomtychtivý člověk sleduje, jak zmanipulovaný obsah vytváří chaos a dosahuje svého cíle – sabotování nového vztahu.
{% endblock scen25 %}



{% block but1 %}
    Zpět
{% endblock but1 %}

{% block but2 %}
    Pokračovat
{% endblock but2 %}
