{% extends "layout.html" %}
{% block content %}

<!--    TITLE  -->
<div class="container d-flex justify-content-center mb-4">
    <h2>{% block tit %}{% endblock tit %}</h2>
</div>


<!-- VIDEO vs IMAGES -->
<div class="container mt-4">
    <p class="text">{% block vid %}{% endblock vid %}:</p>
    <ul>
        <li>
            {% block vid2 %}{% endblock vid2 %}
        </li>
        <li>
            {% block vid3 %}{% endblock vid3 %}
        </li>
        <li>
            {% block vid4 %}{% endblock vid4 %}
        </li>
    </ul>
    <div class="row py-4">
        <div class="col-12">
            {% block vid5 %}{% endblock vid5 %}
        </div>
    </div>
    <div class="row pb-4 pb-lg-2">
        <h1>{% block free %}{% endblock free %}</h1>
    </div>
    <div class="row py-4">
        <div class="col-12">
            {% block free2 %}{% endblock free2 %}
        </div>
    </div>

<!--    HOW -->
    <h3>{% block how %}{% endblock how %}?</h3>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block how2 %}{% endblock how2 %}
            </div>
            <div class="col-12">
                <p class="text">{% block how3 %}{% endblock how3 %}</p>
            </div>
            <div class="col-12">
                <p class="text">{% block how4 %}{% endblock how4 %}:</p>
            </div>
            <div class="col-12">
                <ul>
                    <li>

                        <p class="text">{% block how5 %}{% endblock how5 %}</p>
                    </li>
                    <li>
                        <p class="text">{% block how6 %}{% endblock how6 %}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--    WHY -->
<div class="container mt-4">
    <div class="mt-4">
        <h3>{% block why %}{% endblock why %}?</h3>
    </div>
    <div class="container">
        <div class="row mb-2 mb-md-0">
            <div class="col-12">
                <p class="text">{% block why2 %}{% endblock why2 %}</p>
            </div>
            <div class="col-12">
                <p class="text">{% block why3 %}{% endblock why3 %}</p>
            </div>
            <div class="col-12">
                <p class="text">{% block why4 %}{% endblock why4 %}</p>
            </div>
        </div>
    </div>
</div>

<!--    WHAT    -->
<div class="container mt-4">
    <div class="mt-4">
        <h3>{% block what %}{% endblock what %}?</h3>
    </div>
    <div class="container">
        <div class="row mb-2 mb-md-0">
            <div class="col-12">
                <p class="text">{% block what2 %}{% endblock what2 %}</p>
            </div>
            <div class="col-12">
                <p class="text">{% block what3 %}{% endblock what3 %}</p>
            </div>
        </div>
    </div>
</div>

<!--    ATTACK SCENARIOS    -->
<div class="container mt-4">
    <div class="mt-4">
        <h3>{% block scen %}{% endblock scen %}?</h3>
    </div>
    <div class="container">
        {% block scen1 %}{% endblock scen1 %} 1:
        <div class="container">
            <ol>
                <li>
                    <p class="text">{% block scen11 %}{% endblock scen11 %}</p>
                </li>
                <li>
                    <p class="text">{% block scen12 %}{% endblock scen12 %}</p>
                </li>
                <li>
                    <p class="text">{% block scen13 %}{% endblock scen13 %}</p>
                </li>
                <li>
                    <p class="text">{% block scen14 %}{% endblock scen14 %}</p>
                </li>
                <li>
                    <p class="text">{% block scen15 %}{% endblock scen15 %}</p>
                </li>
            </ol>
        </div>

        {% block scen2 %}{% endblock scen2 %} 2:
        <div class="container">
            <ol>
                <li>
                    <p class="text">{% block scen21 %}{% endblock scen21 %}</p>
                </li>
                <li>
                    <p class="text">{% block scen22 %}{% endblock scen22 %}</p>
                </li>
                <li>
                    <p class="text">{% block scen23 %}{% endblock scen23 %}</p>
                </li>
                <li>
                    <p class="text">{% block scen24 %}{% endblock scen24 %}</p>
                </li>
                <li>
                    <p class="text">{% block scen25 %}{% endblock scen25 %}</p>
                </li>
            </ol>
        </div>
    </div>
</div>


<!--    CONT/END BUTTONS-->
<div class="container mt-3 d-flex justify-content-center">
    <div class="fixed-sm-bottom mb-1">
        <div class="row">
            <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">
                <a class="btn btn-my-secondary" href="{{ url_for('images') }}">{% block but1 %}{% endblock but1 %}</a>
            </div>
            <div class="col-12 col-md-6 my-2 text-center">
                <a class="btn btn-my-primary" href="{{ url_for('audio') }}">{% block but2 %}{% endblock but2 %}</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
