{% extends "end.html" %}

{% block tit %}
    K ZAMYŠLENÍ
{% endblock tit %}

{% block sec %}
    Jak bylo naznačeno v předchozích částech, jednotlivé techniky tvorby deepfake lze použít společně k vytvoření ještě
    přesvědčivější deepfakes!
{% endblock sec %}

{% block example %}
    Útočník například může
{% endblock example %}

{% block example2 %}
    vyměnit váš obličej za obličej na inkriminující fotografii a manipulovat s vaším výrazem a s rysy obličeje
{% endblock example2 %}

{% block example3 %}
    pořídit fotku a hlasovou nahrávku vašeho šéfa a použít je k vydávání se za něj ve FaceTime hovoru nebo během Zoom
    konference
{% endblock example3 %}

{% block example4 %}
    natočit video s politikem a úplně změnit to, o čem mluví
{% endblock example4 %}

{% block sec2 %}
    Přestože prezentovat deepfakes online jako skutečné informace může šířit dezinformace, označování skutečných
    informací jako deepfakes může vést ke dezinformaci taky!
{% endblock sec2 %}

{% block advice %}
    Rady, jak se bránit proti deepfakes
{% endblock advice %}

{% block an %}
    Analyzujte obsah, který si prohlížíte
{% endblock an %}

{% block an2 %}
    Deepfakes vytvořené pomocí generátorů obrázků často produkují „divné“ prsty, šmouhy a další zvláštnosti, které na
    autentických fotografiích nenajdete.
{% endblock an2 %}

{% block an3 %}
    Často je dobrý nápad podívat se do očí. Deepfakes mívají nepravidelné nebo žádné mrkání a mohou postrádat
    odrazy světla v očích.
{% endblock an3 %}

{% block an4 %}
    Vyhledávejte digitální anomálie, zvláštní odstíny pleti a šmouhy mezi obličejem a pozadím.
{% endblock an4 %}

{% block an5 %}
    Posuďte kvalitu pohybu. Deepfakes může mít pohyb, který vypadá jako robot, postrádat pohyb jazyka nebo mít rty,
    které neodpovídají řeči.
{% endblock an5 %}

{% block an6 %}
    Ověřte, že video nebo hlasový klip pochází ze známého a důvěryhodného zdroje, nedostatek kontextu také může být
    podezřelý.
{% endblock an6 %}

{% block an7 %}
    Nevěřte automaticky, že lidé jsou tím, kým znějí a/nebo vypadají během online nebo telefonických rozhovorů.
{% endblock an7 %}

{% block an8 %}
    Zejména při rozhovorech o penězích nebo citlivých informacích se doporučuje použít tajné heslo nebo specifickou
    otázku!
{% endblock an8 %}

{% block an9 %}
    Deepfakes jsou často v nízké kvalitě ve srovnání s normálním obrazem, videem nebo zvukem.
{% endblock an9 %}


{% block rem %}
    PAMATUJTE TAKÉ&nbsp;!
{% endblock rem %}

{% block but1 %}
    Zpět
{% endblock but1 %}

{% block but2 %}
    Pokračovat
{% endblock but2 %}


