{% extends "end.html" %}

{% block tit %}
    FOOD FOR THOUGHT
{% endblock tit %}

{% block sec %}
    As indicated in the previous sections, the individual techniques of deepfake creation can be used together
    to create even more potent deepfakes!
{% endblock sec %}

{% block example %}
    For example, an attacker can
{% endblock example %}

{% block example2 %}
    swap your face on an incriminating photo and manipulate your expression and facial features
{% endblock example2 %}

{% block example3 %}
    take an image and voice of your boss and use it to impersonate them in a FaceTime call or during a Zoom conference
{% endblock example3 %}

{% block example4 %}
    take a video of a politician and completely alter what they are speaking about
{% endblock example4 %}

{% block sec2 %}
    Though presenting deepfakes online as real information can spread misinformation, calling real
    information deepfakes can muddle the waters just as much!
{% endblock sec2 %}

{% block advice %}
    Advices to defend yourself against deepfakes
{% endblock advice %}

{% block an %}
    Analyse the content you are viewing
{% endblock an %}

{% block an2 %}
    Deepfakes created with image generators often produce “wonky” fingers, smudges, and other oddities not found in
    authentic photos.
{% endblock an2 %}

{% block an3 %}
    It is often a good idea to look at the eyes. Deepfakes often have irregular or no blinking patterns and can lack
    light reflections in eyes.
{% endblock an3 %}

{% block an4 %}
    Zoom in! Look for digital anomalies, odd skin tones, and smudges between face and background.
{% endblock an4 %}

{% block an5 %}
    Assess movement quality. Deepfakes can have movement that looks robotic, lacks tongue movement, or has mismatched
    lips.
{% endblock an5 %}

{% block an6 %}
    Verify that the video or voice clip comes from a known and trusted source, with lack of context being suspicious as
    well.
{% endblock an6 %}

{% block an7 %}
    Don't automatically believe people are who they sound and/or look like during online or phone conversations.
{% endblock an7 %}

{% block an8 %}
    Especially during conversations concerning money or sensitive information using a secret passwords or a special
    questions is advised!
{% endblock an8 %}

{% block an9 %}
    Deepfakes are often in low quality when compared to normal image, video or audio.
{% endblock an9 %}

{% block rem %}
    ALSO REMEMBER&nbsp;!
{% endblock rem %}


{% block but1 %}
    Back
{% endblock but1 %}

{% block but2 %}
    Continue
{% endblock but2 %}


