{% extends "layout.html" %}
{% block content %}

<!--    TITLE  -->
<div class="container d-flex justify-content-center mb-4">
    <h2>{% block tit %}{% endblock tit %}</h2>
</div>


<!-- MIXING DEEPFAKES -->
<div class="container mt-4">
    <div class="row py-4">
        <div class="col-12">
            {% block sec %}{% endblock sec %}
        </div>
        <div class="col-12 pt-2">
            <p class="text">{% block example %}{% endblock example %}:</p>
        </div>
        <div class="col-12">
            <ul>
                <li>
                    <p class="text">{% block example2 %}{% endblock example2 %}</p>
                </li>
                <li>
                    <p class="text">{% block example3 %}{% endblock example3 %}</p>
                </li>
                <li>
                    <p class="text">{% block example4 %}{% endblock example4 %}</p>
                </li>
            </ul>
        </div>
        <div class="col-12">
            {% block sec2 %}{% endblock sec2 %}
        </div>
    </div>

<!----------------------------------------------------------------------------------------------------------------->
<!--    ADVICE-->
    <div class="row pt-3 pt-lg-4 pb-2 pt-lg-3">
        <h1>{% block advice %}{% endblock advice %}:</h1>
    </div>
    <div class="row">
        <ol>
            <li>
                {% block an %}{% endblock an %}
                <ul>
                    <li>
                        <p class="text">{% block an2 %}{% endblock an2 %}</p>
                    </li>
                    <li>
                        <p class="text">{% block an3 %}{% endblock an3 %}</p>
                    </li>
                    <li>
                        <p class="text">{% block an4 %}{% endblock an4 %}</p>
                    </li>
                    <li>
                        <p class="text">{% block an5 %}{% endblock an5 %}</p>
                    </li>
                    <li>
                        <p class="text">{% block an6 %}{% endblock an6 %}</p>
                    </li>
                </ul>
            </li>
            <li>
                {% block an7 %}{% endblock an7 %}
                <ul>
                    <li>
                        <p class="text">{% block an8 %}{% endblock an8 %}</p>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>


<!--    CONT/END BUTTONS-->
<div class="container mt-3 d-flex justify-content-center">
    <div class="fixed-sm-bottom mb-3">
        <div class="row">
            <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">
                <a class="btn btn-my-secondary" href="{{ url_for('audio') }}">{% block but1 %}{% endblock but1 %}</a>
            </div>
            <div class="col-12 col-md-6 my-2 text-center">
                <a class="btn btn-my-primary" href="{{ url_for('test') }}">{% block but2 %}{% endblock but2 %}</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
