{% extends "layout.html" %}
{% block content %}

<div style="background-color: var(--btn-color-sec); color: var(--text-color-pri); background(filter: brightness(80%))">

    <div class="container-lg py-5">
        <!--    TITLE  -->
        <div class="container d-flex justify-content-center mb-4">
            <h1>{% block tit %}{% endblock tit %}</h1>
        </div>


        <!-- MIXING DEEPFAKES -->
        <div class="container mt-4">
            {% block sec %}{% endblock sec %}
            <div class="row py-4">
                <div class="card my-3 py-1">
                    <div class="card-header">
                        <h4>{% block example %}{% endblock example %}:</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>
                                <p class="text">{% block example2 %}{% endblock example2 %}</p>
                            </li>
                            <li>
                                <p class="text">{% block example3 %}{% endblock example3 %}</p>
                            </li>
                            <li>
                                <p class="text">{% block example4 %}{% endblock example4 %}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                </div>
                <div class="col-12 pt-2">
                </div>
                <div class="col-12">
                </div>
                <div class="col-12">
                    {% block sec2 %}{% endblock sec2 %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-lg my-5">
    <!----------------------------------------------------------------------------------------------------------------->
    <!--    ADVICE-->
    <div class="card" style="background-color: #0D302E; border-color: var(--btn-color-pri)">
        <div class="card-header" style="border-color: var(--btn-color-pri)">
            <h3>{% block advice %}{% endblock advice %}:</h3>
        </div>
        <div class="card-body" style="color: var(--btn-color-how)">
            <ol>
                <li>
                    {% block an %}{% endblock an %}!
                    <ul>
                        <li>
                            <p class="text">{% block an2 %}{% endblock an2 %}</p>
                        </li>
                        <li>
                            <p class="text">{% block an3 %}{% endblock an3 %}</p>
                        </li>
                        <li>
                            <p class="text">{% block an4 %}{% endblock an4 %}</p>
                        </li>
                        <li>
                            <p class="text">{% block an5 %}{% endblock an5 %}</p>
                        </li>
                        <li>
                            <p class="text">{% block an6 %}{% endblock an6 %}</p>
                        </li>
                        <li>
                            <p class="text">{% block an9 %}{% endblock an9 %}</p>
                        </li>
                    </ul>
                </li>
                <li>
                    {% block an7 %}{% endblock an7 %}
                    <ul>
                        <li>
                            <p class="text">{% block an8 %}{% endblock an8 %}</p>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
    <div class="row pt-3 pt-lg-4 pb-2 pt-lg-3">
    </div>
    <div class="row">
    </div>


    <!--    CONT/END BUTTONS-->
    <div class="container mt-3 d-flex justify-content-center">
        <div class="fixed-sm-bottom mb-1">
            <div class="row">
                <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">
                    <a class="btn btn-my-secondary" href="{{ url_for('audio') }}">
                        {% block but1 %}{% endblock but1 %}
                    </a>
                </div>
                <div class="col-12 col-md-6 my-2 text-center">
                    <a class="btn btn-my-primary" href="{{ url_for('pg') }}">{% block but2 %}{% endblock but2 %}</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
