{% extends 'layout.html' %}
{% block content %}
<div class="row text-center py-5">
    {% if session.get('post-test_completed') %}
        <h1>Děkuji za účast a zpětnou vazbu</h1>
    {% else %}
        <div class="col-12 py-2 bb">
            <a class="btn btn-audio" href="{{ url_for('info') }}">1. test</a><br>
        </div>
        <div class="col-12 py-2 bb">
            <a class="btn btn-audio" href="{{ url_for('index') }}">2. deepfakes</a><br>
        </div>
        <div class="col-12 py-2">
            <a class="btn btn-audio" href="{{ url_for('test') }}">3. test</a>
        </div>
    {% endif %}
</div>
{% endblock content %}
