{% extends "layout.html" %}
{% block content %}
<div class="container d-flex align-center justify-content-center" style="min-height: 70vh;">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h4>Would you like to learn about </h4>
            <h5>DEEPFAKES?</h5>
        </div>
        <div class="col-md-6 text-center">
            {% if session %}
                <button class="btn btn-start" data-bs-toggle="modal" data-bs-target="#continueModal">
                    Start Course
                </button>
            {% else %}
                <a class="btn btn-start" href="{{ url_for('info') }}">Start Course</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="fixed-sm-bottom mb-3">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <a class="btn btn-download" href="{{ url_for('index') }}">Download Presentation</a>
            </div>
        </div>
    </div>
</div>

<!--
possible next pages:
person not in session -> info
person in session   -> info
                    -> encountered df yes   -> completed test yes -> DF general
                                            -> completed test no -> test

                    -> encountered df no    -> DF general
-->
<!-- Modal -->
<div class="modal fade" id="continueModal" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3">Skip ahead?</h1>
            </div>
            <div class="modal-body">
                It seems like you have already started this course before.<br>
                Would you like to skip ahead?
            </div>
            <div id="mod" class="modal-footer" data-df="{{ session.get('df') }}">
                <button id="no_skip" class="btn btn-my-secondary" style="font-size: 1.5rem; width:auto; height: 3rem;
                padding: 0 1.5rem 0 1.5rem" >No</button>

                {% if session.get('df') == '0' %}
                    {% if not session.get('q1a') %}
                    <button id="skip_info" type="button" class="btn btn-my-primary" style="font-size: 1.5rem;
                        width:auto; height: 3rem; padding: 0 1.5rem 0 1.5rem">Skip Info</button>
                    {% else %}
                        <div id="test" data-test="{{ session.get('q1a') }}"></div>
                        <button id="skip_survey" type="button" class="btn btn-my-primary" style="font-size: 1.5rem;
                            width:auto; height: 3rem; padding: 0 1.5rem 0 1.5rem">Skip Survey</button>
                    {% endif %}
                {% else %}
                    <button id="skip_ahead" type="button" class="btn btn-my-primary" style="font-size: 1.5rem; width:auto; height: 3rem; padding: 0 1.5rem 0 1.5rem">Skip Info</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // add function to loaded modal buttons used to skip ahead
        let df = document.getElementById('mod').getAttribute('data-df');
        document.getElementById("no_skip").addEventListener("click", function() {
            window.location.href = "{{ url_for('info') }}";
        });

        if (df === '0') {
            if (document.getElementById("skip_info"))
                document.getElementById("skip_info").addEventListener("click", function () {
                    window.location.href = "{{ url_for('test') }}";
                });
            else
                document.getElementById("skip_survey").addEventListener("click", function () {
                    window.location.href = "{{ url_for('general') }}";
                });
        }
        else if (df === '1') {
            document.getElementById("skip_ahead").addEventListener("click", function () {
                window.location.href = "{{ url_for('general') }}";
            });
        }
    });


</script>

{% endblock content %}