{% extends "index.html" %}

{% block awareness %}
    Raise your deepfakes AWARENESS
{% endblock awareness %}

{% block detect %}
    Learn how to DETECT deepfakes
{% endblock detect %}

{% block achieve %}
    See for yourself what deepfakes can ACHIEVE
{% endblock achieve %}

{% block text %}
    Would you like to learn about
{% endblock text %}

{% block btn_text %}
    Start Course
{% endblock btn_text %}

{% block btn_text2 %}
    Start Course
{% endblock btn_text2 %}

{% block download_btn_text %}
    Download Presentation
{% endblock download_btn_text %}

{% block modal_title %}
    Skip ahead?
{% endblock modal_title %}

{% block modal_body %}
    It seems like you have already started this course before.<br>
    Would you like to skip ahead?
{% endblock modal_body %}

{% block modal_btn1 %}
    No
{% endblock modal_btn1 %}

{% block modal_btn2 %}
    Skip Info
{% endblock modal_btn2 %}

{% block modal_btn3 %}
    Skip Survey
{% endblock modal_btn3 %}

{% block modal_btn4 %}
    Skip Info
{% endblock modal_btn4 %}

{% block lang_btn %}
    <form action="{{url_for('index')}}" method="get">
        <input type="hidden" name="lang" value="cz">
        <div class="d-grid gap-2 d-md-block text-end pb-4 pb-md-0">
            <button type="submit" class="btn btn-lang">CZ</button>
        </div>
    </form>
{% endblock lang_btn %}

{% block pub %}
    OUR NEWEST PUBLICATIONS
{% endblock pub %}

{% block card1H %}
    CARD HEADER - PUBLICATION NAME
{% endblock card1H %}

{% block card1B %}
    Some description of the publication...Some description of the publication...Some description of the publication...
    Some description of the publication...Some description of the publication...Some description of the publication...
    Some description of the publication...Some description of the publication...Some description of the publication...
    Some description of the publication...Some description of the publication...Some description of the publication...
{% endblock card1B %}

{% block card1F %}
    learn more
{% endblock card1F %}

{% block card2H %}
    CARD HEADER - PUBLICATION NAME
{% endblock card2H %}

{% block card2B %}
    Some description of the publication...
{% endblock card2B %}

{% block card2F %}
    learn more
{% endblock card2F %}

{% block card3H %}
    CARD HEADER - PUBLICATION NAME
{% endblock card3H %}

{% block card3B %}
    Some description of the publication...
{% endblock card3B %}

{% block card3F %}
    learn more
{% endblock card3F %}

{% block card4H %}
    CARD HEADER - PUBLICATION NAME
{% endblock card4H %}

{% block card4B %}
    Some description of the publication...
{% endblock card4B %}

{% block card4F %}
    learn more
{% endblock card4F %}

{% block card5H %}
    CARD HEADER - PUBLICATION NAME
{% endblock card5H %}

{% block card5B %}
    Some description of the publication...
{% endblock card5B %}

{% block card5F %}
    learn more
{% endblock card5F %}

{% block card6H %}
    CARD HEADER - PUBLICATION NAME
{% endblock card6H %}

{% block card6B %}
    Some description of the publication...
{% endblock card6B %}

{% block card6F %}
    learn more
{% endblock card6F %}