{% extends "index.html" %}

{% block awareness %}
    Raise your deepfakes AWARENESS
{% endblock awareness %}

{% block detect %}
    Learn how to DETECT deepfakes
{% endblock detect %}

{% block achieve %}
    See for yourself what deepfakes can ACHIEVE
{% endblock achieve %}

{% block text %}
    Would you like to learn about
{% endblock text %}

{% block btn_text %}
    Start Journey
{% endblock btn_text %}

{% block btn_text2 %}
    Start Journey
{% endblock btn_text2 %}

{% block download_btn_text %}
    Download Presentation
{% endblock download_btn_text %}

{% block modal_title %}
    Skip ahead?
{% endblock modal_title %}

{% block modal_body %}
    It seems like you have already started your journey before.<br>
    Would you like to continue instead?
{% endblock modal_body %}

{% block modal_btn1 %}
    Start Again
{% endblock modal_btn1 %}

{% block modal_btn2 %}
    Continue
{% endblock modal_btn2 %}

{% block modal_btn3 %}
    Skip Survey
{% endblock modal_btn3 %}

{% block modal_btn4 %}
    Skip Info
{% endblock modal_btn4 %}

{% block lang_btn %}
    <form action="{{url_for('index')}}" method="get">
        <input type="hidden" name="lang" value="cs">
        <div class="d-grid gap-2 d-md-block text-end pb-4 pb-md-0">
            <button type="submit" class="btn btn-lang">CZ</button>
        </div>
    </form>
{% endblock lang_btn %}

{% block pub %}
    CURRENT NEW PUBLICATIONS
{% endblock pub %}

{% block card1F %}
    Read More
{% endblock card1F %}

{% block card2F %}
    Read More
{% endblock card2F %}

{% block card3F %}
    Read More
{% endblock card3F %}

{% block card4F %}
    Read More
{% endblock card4F %}

{% block card5F %}
    Read More
{% endblock card5F %}

{% block card6F %}
    Read More
{% endblock card6F %}

{% block pubs %}
    Show all of our publications
{% endblock pubs %}

{% block presented %}
    PRESENTED BY
{% endblock presented %}

{% block about %}
    About us
{% endblock about %}

{% block desc %}
    Security@FIT is a group of researchers and students from FIT BUT who focus on research topics in the field of IT
    security.<br><br>
    We are currently focusing on security aspects of deepfakes, blockchain technologies and security of wireless
    technologies ( IoT ).
{% endblock desc %}
