{% extends "layout.html" %}
{% block content %}

<div class="row justify-content-center" style="background-color: var(--btn-color-how)">
    <img src="{{ url_for('static', filename='images/collage2.png') }}" alt="DF collage"
         style="max-width: 1920px; max-height: 500px"/>
    {% block lang_btn %}{% endblock lang_btn %}
</div>

<div class="container d-flex align-center justify-content-center" style="min-height: 50vh;">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h1>{% block text %}{% endblock text %}</h1>
            <h2>DEEPFAKES?</h2>
        </div>
        <div class="col-md-6 text-center">
            {% if session.get('last_page') != 'index' %}
                <button class="btn btn-start" data-bs-toggle="modal" data-bs-target="#continueModal">
                    {% block btn_text %}{% endblock btn_text %}
                </button>
            {% else %}
                <a href="{{ url_for('general') }}" class="btn btn-start">
                    {% block btn_text2 %}{% endblock btn_text2 %}
                </a>
            {% endif %}
        </div>
    </div>
</div>

<div style="background-color: var(--btn-color-how); color: var(--main-bg-color)">
    <div class="container d-flex align-center justify-content-center my-3 py-2">
        <ul style="font-size: 3rem">
            <li>
                {% block awareness %}{% endblock awareness %}
            </li>
            <li>
                {% block detect %}{% endblock detect %}
            </li>
            <li>
                {% block achieve %}{% endblock achieve %}
            </li>
        </ul>
    </div>
</div>

{#<div class="pt-5" style="min-height: 50vh">#}
{#    <h1 class="text-center pb-2">{% block pub %}{% endblock pub %}</h1>#}
{##}
{#    <div id="carouselExampleCaptions" class="carousel slide">#}
{#      <div class="carousel-inner">#}
{#<!--          1st carousel page     -->#}
{#        <div class="carousel-item active">#}
{#            <div class="row justify-content-center pb-1">#}
{#                <div class="col-12 col-md-4 pb-3">#}
{#                    <div class="card" style="min-width: 50%; max-width: 100%; height: 250px;">#}
{#                        <div class="card-header text-center">#}
{#                            <h5>{{ publications[0].name }}</h5>#}
{#                        </div>#}
{#                        <div class="card-body ps-5 pb-1" style="max-height: 200px; overflow: hidden;">#}
{#                            <p class="card-text" style="color: var(--text-color-pri)">#}
{#                                {{ publications[0].description }}#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="card-footer mt-3">#}
{#                            <div class="row justify-content-end">#}
{#                                <div class="col-12 col-md-4">#}
{#                                    <a id="0" class="btn btn-audio" href="{{ publications[0].link }}" target="_blank"#}
{#                                       rel="noopener noreferrer">#}
{#                                        {% block card1F %}{% endblock card1F %}#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-12 col-md-4">#}
{#                    <div class="card" style="min-width: 50%; max-width: 100%; height: 250px">#}
{#                        <div class="card-header text-center">#}
{#                            <h5>{{ publications[1].name }}</h5>#}
{#                        </div>#}
{#                        <div class="card-body ps-5 pb-1" style="max-height: 200px; overflow: hidden;">#}
{#                            <p class="card-text" style="color: var(--text-color-pri)">#}
{#                                {{ publications[1].description }}#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="card-footer mt-3">#}
{#                            <div class="row justify-content-end">#}
{#                                <div class="col-12 col-md-4">#}
{#                                    <a id="1" class="btn btn-audio" href="{{ publications[1].link }}" target="_blank"#}
{#                                       rel="noopener noreferrer">#}
{#                                        {% block card2F %}{% endblock card2F %}#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#<!--      2nd carousel page     -->#}
{#        <div class="carousel-item">#}
{#            <div class="row justify-content-center pb-1">#}
{#                <div class="col-12 col-md-4">#}
{#                    <div class="card" style="min-width: 50%; max-width: 100%; height: 250px">#}
{#                        <div class="card-header text-center">#}
{#                            <h5>{{ publications[2].name }}</h5>#}
{#                        </div>#}
{#                        <div class="card-body ps-5 pb-1" style="max-height: 200px; overflow: hidden;">#}
{#                            <p class="card-text" style="color: var(--text-color-pri)">#}
{#                                {{ publications[2].description }}#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="card-footer mt-3">#}
{#                            <div class="row justify-content-end">#}
{#                                <div class="col-12 col-md-4">#}
{#                                    <a id="2" class="btn btn-audio" href="{{ publications[2].link }}" target="_blank"#}
{#                                       rel="noopener noreferrer">#}
{#                                        {% block card3F %}{% endblock card3F %}#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-12 col-md-4">#}
{#                    <div class="card" style="min-width: 50%; max-width: 100%; height: 250px">#}
{#                        <div class="card-header text-center">#}
{#                            <h5>{{ publications[3].name }}</h5>#}
{#                        </div>#}
{#                        <div class="card-body ps-5 pb-1" style="max-height: 200px; overflow: hidden;">#}
{#                            <p class="card-text" style="color: var(--text-color-pri)">#}
{#                                {{ publications[3].description }}#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="card-footer mt-3">#}
{#                            <div class="row justify-content-end">#}
{#                                <div class="col-12 col-md-4">#}
{#                                    <a id="3" class="btn btn-audio" href="{{ publications[3].link }}" target="_blank"#}
{#                                       rel="noopener noreferrer">#}
{#                                        {% block card4F %}{% endblock card4F %}#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#<!--          3rd carousel page     -->#}
{#        <div class="carousel-item">#}
{#            <div class="row justify-content-center pb-1">#}
{#                <div class="col-12 col-md-4">#}
{#                    <div class="card" style="min-width: 50%; max-width: 100%; height: 250px">#}
{#                        <div class="card-header text-center">#}
{#                            <h5>{{ publications[4].name }}</h5>#}
{#                        </div>#}
{#                        <div class="card-body ps-5 pb-1" style="max-height: 200px; overflow: hidden;">#}
{#                            <p class="card-text" style="color: var(--text-color-pri)">#}
{#                                {{ publications[4].description }}#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="card-footer mt-3">#}
{#                            <div class="row justify-content-end">#}
{#                                <div class="col-12 col-md-4">#}
{#                                    <a id="4" class="btn btn-audio" href="{{ publications[4].link }}" target="_blank"#}
{#                                       rel="noopener noreferrer">#}
{#                                        {% block card5F %}{% endblock card5F %}#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-12 col-md-4">#}
{#                    <div class="card" style="min-width: 50%; max-width: 100%; height: 250px">#}
{#                        <div class="card-header text-center">#}
{#                            <h5>{{ publications[5].name }}</h5>#}
{#                        </div>#}
{#                        <div class="card-body ps-5 pb-1" style="max-height: 200px; overflow: hidden;">#}
{#                            <p class="card-text" style="color: var(--text-color-pri)">#}
{#                                {{ publications[5].description }}#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="card-footer mt-3">#}
{#                            <div class="row justify-content-end">#}
{#                                <div class="col-12 col-md-4">#}
{#                                    <a id="5" class="btn btn-audio" href="{{ publications[5].link }}" target="_blank"#}
{#                                       rel="noopener noreferrer">#}
{#                                        {% block card6F %}{% endblock card6F %}#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#      </div>#}
{#      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"#}
{#              data-bs-slide="prev">#}
{#        <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#        <span class="visually-hidden">Previous</span>#}
{#      </button>#}
{#      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"#}
{#              data-bs-slide="next">#}
{#        <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#        <span class="visually-hidden">Next</span>#}
{#      </button>#}
{#      <div class="carousel-indicators">#}
{#        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"#}
{#                aria-current="true" aria-label="Slide 1"></button>#}
{#        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">#}
{#        </button>#}
{#        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">#}
{#        </button>#}
{#      </div>#}
{#    </div>#}
{##}
{#<!--    ALL PUBLICATION BUTTON  -->#}
{#    <div class="row">#}
{#        <div class="col-12 text-center">#}
{#            <a class="btn btn-audio mb-5" href="{{ url_for('pubs') }}" rel="noopener noreferrer"#}
{#               style="padding-left: 20px; padding-right: 20px">#}
{#                {% block pubs %}{% endblock pubs %}#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="container py-4 bb">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 text-center my-auto">
            <h1>{% block presented %}{% endblock presented %}</h1><br><h2>SECURITY@FIT</h2>
        </div>

        <div class="col-12 col-md-5 my-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h4>{% block about %}{% endblock about %}:</h4>
                </div>
                <div class="card-body text">
                    {% block desc %}{% endblock desc %}
                </div>
                <div class="card-footer">
                    <a class="btn btn-download" rel="noopener noreferrer" target="_blank"
                       href="https://www.fit.vut.cz/research/group/security@fit/.{{ language }}">
                        security@fit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-lg">
    <div class="container mt-3">
        <div class="fixed-sm-bottom mb-3">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <a class="btn btn-download" href="{{ url_for('static', filename='files/deepfakes.pdf') }}"
                       download="deepfakes.pdf">
                        {% block download_btn_text %}{% endblock download_btn_text %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--
    possible next pages:
    person not in session -> info
    person in session   -> info
                        -> encountered df yes   -> completed test yes -> DF general
                                                -> completed test no -> test

                        -> encountered df no    -> DF general
    -->
    <!-- Modal -->
    <div class="modal fade" id="continueModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-3">{% block modal_title %}{% endblock modal_title %}</h3>
                </div>
                <div class="modal-body">
                    {% block modal_body %}{% endblock modal_body %}
                </div>
                <div id="mod" class="modal-footer" data-df="{{ session.get('last_page') }}">
                    <button id="no_skip" class="btn btn-my-secondary" style="font-size: 1.5rem; width:auto; height: 3rem;
                    padding: 0 1.5rem 0 1.5rem" >
                        {% block modal_btn1 %}{% endblock modal_btn1 %}
                    </button>

                    {% if session.get('last_page') %}
                        <button id="skip" type="button" class="btn btn-my-primary" style="font-size: 1.5rem;
                            width:auto; height: 3rem; padding: 0 1.5rem 0 1.5rem">
                            {% block modal_btn2 %}{% endblock modal_btn2 %}
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // add function to loaded modal buttons used to skip ahead
        let last_page = document.getElementById('mod').getAttribute('data-df');

        if (last_page !== 'index') {
            document.getElementById("no_skip").addEventListener("click", function () {
                window.location.href = "{{ url_for('general') }}";
            });

            document.getElementById("skip").addEventListener("click", function () {
                window.location.href = "{{ url_for(session.get('last_page')) }}";
            });
        }

        // disable publication buttons on empty entries
        {#for (let i = 0; i < 6; i++) {#}
        {#    let publication = document.getElementById(i.toString());#}
        {#    if (publication.getAttribute('href') === '#')#}
        {#        publication.classList.add('disabled');#}
        //}
    });
</script>
{% endblock content %}