{% extends "info.html" %}

{% block info %}
    Deepfakes kurz
{% endblock info %}

{% block thx %}
    Děkujeme, že jste se rozhodli tento kurz vyzkoušet.
{% endblock thx %}

{% block li1 %}
    Deepfakes jsou den ode dne rozšířenější a tento kurz vám může pomoci dozvědět se o nich více.
{% endblock li1 %}

{% block li2 %}
    Budete mít příležitost setkat se s deepfakes v bezpečném prostředí a otestovat si své znalosti základních deepfake
    konceptů v rychlém průzkumu(ech).
{% endblock li2 %}

{% block li3 %}
    Vaše odpovědi mi pomohou vylepšit obsah tohoto kurzu tak, aby další lidé mohli mít ještě lepší zážitek.
{% endblock li3 %}

{% block li4 %}
    Níže uvedené údaje a výsledky průzkumu jsou anonymní a nikdo vás nebude moci identifikovat na základě čehokoli
    sdíleného nebo provedeného během tohoto kurzu v souhlasu s nařízeními GDPR, zejména nařízením (EU) 2016/679.
{% endblock li4 %}

{% block li5 %}
    Tento kurz je součástí diplomové práce, proto budou vaše údaje použity pro statistické účely v mé diplomové práci, s
    čímž souhlasíte pokračováním v kurzu!
{% endblock li5 %}


<!--    SEX     -->
{% block s %}
    Pohlaví
{% endblock s %}

{% block s1 %}
    Muž
{% endblock s1 %}

{% block s2 %}
    Žena
{% endblock s2 %}


<!--    AGE     -->
{% block a %}
    Věk
{% endblock a %}


<!--    ENCOUNTERED DFs     -->
{% block e %}
    Setkali jste se už někdy s pojmem deepfakes?
{% endblock e %}

{% block e1 %}
    Už ano
{% endblock e1 %}

{% block e2 %}
    Ještě ne (přeskočí úvodní průzkum)
{% endblock e2 %}


<!--    BUTTONS     -->
{% block b1 %}
    Zpět
{% endblock b1 %}

{% block b2 %}
    Pokračovat
{% endblock b2 %}
