{% extends "info.html" %}

{% block li1 %}
    Deepfakes jsou den ode dne rozšířenější a tento kurz vám může pomoci dozvědět se o nich více.
{% endblock li1 %}

{% block li2 %}
    Budete mít příležitost setkat se s deepfakes v bezpečném prostředí a otestovat si své základní znalosti o deepfakes.
{% endblock li2 %}

{% block li3 %}
    Jelikož se jedná o součást diplomové práce, níže uvedené údaje a výsledky průzkumu jsou anonymní, budou však
    použity pro statistické účely.
{% endblock li3 %}


<!--    SEX     -->
{% block s %}
    Pohlaví
{% endblock s %}

{% block s1 %}
    Muž
{% endblock s1 %}

{% block s2 %}
    Žena
{% endblock s2 %}


<!--    AGE     -->
{% block a %}
    Věk
{% endblock a %}


<!--    ENCOUNTERED DFs     -->
{% block e %}
    Setkali jste se už někdy s pojmem deepfakes?
{% endblock e %}

{% block e1 %}
    Už ano
{% endblock e1 %}

{% block e2 %}
    Ještě ne (přeskočí úvodní průzkum)
{% endblock e2 %}


<!--    BUTTONS     -->
{% block b1 %}
    Zpět
{% endblock b1 %}

{% block b2 %}
    Pokračovat
{% endblock b2 %}
