{% extends "info.html" %}

{% block info %}
    Deepfakes course
{% endblock info %}

{% block thx %}
    Thank you for taking the to try this course.
{% endblock thx %}

{% block li1 %}
    Deepfakes are becoming more prevalent by the day, and this course can help you get even more knowledgeable about
    them.
{% endblock li1 %}

{% block li2 %}
    You will have the opportunity to encounter deepfakes in a safe environment and test your knowledge of basic deepfake
    concepts in a quick survey(s).
{% endblock li2 %}

{% block li3 %}
    Your answers will help me to improve the contents of this course so that many more people can have an even better
    experience.
{% endblock li3 %}

{% block li4 %}
    The data provided below and the survey results are anonymous, in compliance with GDPR regulations, specifically
    Regulation (EU) 2016/679. Your identity will remain confidential, and no one will be able to identify you based on any information shared or actions taken during this course.
{% endblock li4 %}

{% block li5 %}
    This course is part of a diploma thesis, therefore your data will be used for statistical purposes in my thesis to
    which you consent by continuing with the course!
{% endblock li5 %}


<!--    SEX     -->
{% block s %}
    Sex
{% endblock s %}

{% block s1 %}
    Male
{% endblock s1 %}

{% block s2 %}
    Female
{% endblock s2 %}


<!--    AGE     -->
{% block a %}
    Age
{% endblock a %}


<!--    ENCOUNTERED DFs     -->
{% block e %}
    Did you encounter the term deepfakes ever before?
{% endblock e %}

{% block e1 %}
    Yes, I have
{% endblock e1 %}

{% block e2 %}
    No, I have not (skips initial survey)
{% endblock e2 %}


<!--    BUTTONS     -->
{% block b1 %}
    Back
{% endblock b1 %}

{% block b2 %}
    Continue
{% endblock b2 %}
