{% extends "info.html" %}

{% block li1 %}
    Deepfakes are becoming more prevalent by the day, and this course can help you get more knowledgeable about them.
{% endblock li1 %}

{% block li2 %}
    You will have the opportunity to encounter deepfakes in a safe environment and test your knowledge of basic deepfake concepts.
{% endblock li2 %}

{% block li3 %}
    As this is a part of a student thesis, the data below and the survey results are anonymous, but they will be used for statistical purposes.
{% endblock li3 %}


<!--    SEX     -->
{% block s %}
    Sex
{% endblock s %}

{% block s1 %}
    Male
{% endblock s1 %}

{% block s2 %}
    Female
{% endblock s2 %}


<!--    AGE     -->
{% block a %}
    Age
{% endblock a %}


<!--    ENCOUNTERED DFs     -->
{% block e %}
    Did you encounter the term deepfakes ever before?
{% endblock e %}

{% block e1 %}
    Yes, I have
{% endblock e1 %}

{% block e2 %}
    No, I have not (skips initial survey)
{% endblock e2 %}


<!--    BUTTONS     -->
{% block b1 %}
    Back
{% endblock b1 %}

{% block b2 %}
    Continue
{% endblock b2 %}
