<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Title</title>
    {% endif %}

</head>
<body>
    {% block content %}
    {% endblock content %}

    <footer class="pe-4" style="display: flex; background-color: black; justify-content: end;
     align-items: center; height: 50px">
        <p class="pe-3  pt-1" style="display: inline; color: var(--main-bg-color)">
            {% if language == 'en' %}
                FACULTY OF INFORMATION TECHNOLOGY - BRNO UNIVERSITY OF TECHNOLOGY
            {% else %}
                FAKULTA INFORMAČNÍCH TECHNOLOGIÍ - VYSOKÉ UČENÍ TECHNICKÉ V BRNĚ
            {% endif %}
        </p>
        <img src="{{ url_for('static', filename='images/fitlogo.png') }}"
             onclick="window.open('https://www.fit.vut.cz', '_blank')" alt="Logo of FIT VUTBR"
             class="clickable-image" style="height: 35px; width: 100px;">
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>
</body>
</html>