{% extends "playground.html" %}

{% block tit %}
    TRY DEEPFAKES YOURSELF
{% endblock tit %}


{% block fs-li-1 %}
   This places the face of a person from selected image 2 onto the face of a person from selected image 1
{% endblock fs-li-1 %}

{% block fs-li-2%}
    These can be any two images you can find, but to save time, I have prepared a few images and generated deepfakes
    from them
{% endblock fs-li-2%}

{% block fs-li-3%}
    Both images need to be selected in order to create the deepfake
{% endblock fs-li-3%}

{% block fs-li-4%}
    You can click on the images to view them in higher resolution
{% endblock fs-li-4%}

{% block jb %}
    46th President of the United States
{% endblock jb %}

{% block jib %}
    Czech actress
{% endblock jib %}

{% block rdj %}
    American actor
{% endblock rdj %}

{% block pp %}
    4th President of the Czech Republic
{% endblock pp %}

{% block ts %}
    American singer-songwriter
{% endblock ts %}

{% block jb2 %}
    46th President of the United States
{% endblock jb2 %}

{% block jib2 %}
    Czech actress
{% endblock jib2 %}

{% block rdj2 %}
    American actor
{% endblock rdj2 %}

{% block pp2 %}
    4th President of the Czech Republic
{% endblock pp2 %}

{% block ts2 %}
    American singer-songwriter
{% endblock ts2 %}

{% block sel1 %}
    Select Image
{% endblock sel1 %}

{% block sel2 %}
    Select Image
{% endblock sel2 %}

{% block fs %}
    Create
{% endblock fs %}

{% block but1 %}
    Back
{% endblock but1 %}

{% block but2 %}
    To survey
{% endblock but2 %}

{% block src %}
    Source
{% endblock src %}
