{% extends "playground.html" %}

{% block tit %}
    TRY DEEPFAKES YOURSELF
{% endblock tit %}


{% block fs_li_1 %}
   This places the face of a person from selected image 2 onto the face of a person from selected image 1.
{% endblock fs_li_1 %}

{% block fs_li_2%}
    These can be any two images you can find, but to save time, I have prepared a few images and generated deepfakes
    from them.
{% endblock fs_li_2%}

{% block fs_li_3%}
    Both images need to be selected in order to create the deepfake.
{% endblock fs_li_3%}

{% block fs_li_4%}
    You can click on the images to view them in higher resolution.
{% endblock fs_li_4%}

{% block jb %}
    46th President of the United States
{% endblock jb %}

{% block jib %}
    Czech actress
{% endblock jib %}

{% block rdj %}
    American actor
{% endblock rdj %}

{% block pp %}
    4th President of the Czech Republic
{% endblock pp %}

{% block ts %}
    American singer-songwriter
{% endblock ts %}

{% block jb2 %}
    46th President of the United States
{% endblock jb2 %}

{% block jib2 %}
    Czech actress
{% endblock jib2 %}

{% block rdj2 %}
    American actor
{% endblock rdj2 %}

{% block pp2 %}
    4th President of the Czech Republic
{% endblock pp2 %}

{% block ts2 %}
    American singer-songwriter
{% endblock ts2 %}

{% block sel1 %}
    Select Image
{% endblock sel1 %}

{% block sel2 %}
    Select Image
{% endblock sel2 %}

{% block fs %}
    Create
{% endblock fs %}

{% block but1 %}
    Back
{% endblock but1 %}

{% block but2 %}
    Finish !
{% endblock but2 %}

{% block src %}
    Source
{% endblock src %}


{% block sentence %}
    Choose Sentence
{% endblock sentence %}

{% block source %}
    Choose Speaker
{% endblock source %}


{% block fmi %}
    Look at
{% endblock fmi %}

{% block fmi1 %}
    Andrej Fiala
{% endblock fmi1 %}

{% block fmi2 %}
    Elon Rock
{% endblock fmi2 %}

{% block fmi3 %}
    Adele Bílá
{% endblock fmi3 %}

{% block fmi4 %}
    Mr. Beanst
{% endblock fmi4 %}

{% block fm1 %}
    Face morphing once again could use any 2 pictures, and I prepared some this time as well.
{% endblock fm1 %}

{% block fm2 %}
    The output is a series of pictures from which transform one person into another and user has to select 1 of them.
{% endblock fm2 %}

{% block fm3 %}
    The morphed picture is the middle and the other are source images.
{% endblock fm3 %}

{% block free1 %}
    Creation of video deepfakes using facial reenactment is more difficult than the previous types of deepfakes.
{% endblock free1 %}

{% block free2 %}
    This is partially due to the fact that a large number of images need to be edited, instead of just one.
{% endblock free2 %}

{% block free3 %}
    And partially because what we want the product to do exactly dictates the types of sources we need to provide.
{% endblock free3 %}

{% block free4 %}
    So, instead of creating one, have a look at some real examples of deepfakes used online!
{% endblock free4 %}


{% block tts1 %}
    Two things are needed to create a TTS deepfake - voice of a speaker and a written text.
{% endblock tts1 %}

{% block tts2 %}
    Both have been prepared in advance, so try to mix and match voices of some famous people with a few famous quotes.
{% endblock tts2 %}


{% block know %}
    DO YOU KNOW DEEPFAKES&nbsp;?
{% endblock know %}

{% block decide %}
    Guess if there is a deepfake on the right side (at the bottom for small screens) or not.
    Rozhodněte, zda vpravo (dole na malé obrazovce) je či není deepfake.
{% endblock decide %}

{% block decide2 %}
    Click the button to reveal the answer.
{% endblock decide2 %}

{% block decide3 %}
    Load another potential deepfake by clicking again.
{% endblock decide3 %}

{% block right %}
    It is
{% endblock right %}

{% block not %}
    Not a
{% endblock not %}

{% block cb1 %}
    Normal passport photo of Dwayne Johnson.
{% endblock cb1 %}

{% block cb2 %}
    TTS deepfake of Donald Trump sounds similar, but there are clear differences.
{% endblock cb2 %}

{% block cb3 %}
    A well known comment of Miloš Zeman he really did say about his phone.
{% endblock cb3 %}

{% block cb4 %}
    The context is important.<br>It is unlikely that the pope would be wearing a Balenciaga jacket.<br>Furthermore,
    there are people in the picture just few feet from the pope which his security would most likely not allow.
{% endblock cb4 %}

{% block cb5 %}
    Once again the context is important.<br>Deepfakes like this did find their home on social networks, instead of any
    real media which would not let this sensation untouched if it was a real thing.
{% endblock cb5 %}

{% block cb6 %}
    A normal photo of Taylor Swift.
{% endblock cb6 %}

{% block cb7 %}
    This deepfake has a vague context, but there is plenty of details that are important.<br>The right ear looks weird,
    the glasses don't end behind the ears they also look empty, and the forehead also doesn't look quite right.
{% endblock cb7 %}

{% block reveal %}Reveal{% endblock reveal %}

{% block can %}
    Can you answer&nbsp;?
{% endblock can %}

{% block q1 %}
    I too am at risk of a deepfakes attack.
{% endblock q1 %}

{% block q2 %}
    Deepfakes can manipulate 3 types of media - image, video and audio.
{% endblock q2 %}

{% block q3 %}
    Deepfakes attacks are only theoretically possible so far, no one has actually tried them yet.
{% endblock q3 %}

{% block q4 %}
    Although deepfakes pose a threat, they can also be useful.
{% endblock q4 %}

{% block q5 %}
    Now that I know deepfakes, no deepfakes attack can endanger me.
{% endblock q5 %}

{% block a1 %}
    Truth! Manipulated content online, the spread of gossip, or even fraudulent advertisements are all attacks that
    can use deepfakes and are a threat to all of us.
{% endblock a1 %}

{% block a2 %}
    Truth! Deepfakes focus on creating and editing the appearance and voice of people in photos, videos and audio
    recordings.
{% endblock a2 %}

{% block a3 %}
    Not a truth! Voice deepfakes for fraudulent phone calls have already cost many companies tens of millions, and
    modified photos and videos are being used to spread misinformation and fraud even now.
{% endblock a3 %}

{% block a4 %}
    Truth! Deepfakes, just like other AI technologies, represent a threat, but they also offer us a lot of great
    opportunities for entertainment, education, or even medicine.
{% endblock a4 %}

{% block a5 %}
    Not a truth! As with any threat, it's important to be informed, but attackers with new and better attacks can put
    even knowledgeable people at risk. Also, the thing with deepfakes is, that we think we can recognise them better
    than we actually can.
{% endblock a5 %}

{% block true %}
    Truth
{% endblock true %}

{% block false %}
    Not a truth
{% endblock false %}

{% block next %}
    Next
{% endblock next %}