{% extends "layout.html" %}
{% block content %}
    <div class="container d-flex justify-content-center my-4">
        <h2>{% block tit %}{% endblock tit %}</h2>
    </div>
    <div class="py-1" style="background-color: var(--btn-color-sec)">
        <div class="container d-flex justify-content-center my-4">
            <h1>Face Swap</h1>
        </div>

        <div class="container py-3">
            <div class="row">
                <div class="col-3">
                    Swap face from image 2 with the face from image 1;<br>
                    These can be any two images you can get your hands on, however, to save time I have selected a few
                    images and generated deepfakes from them
                </div>
                <div class="col-3">
                    <div class="card" style="height: 300px">
                        <img id="cardImage" src="{{ url_for('static', filename='images/collage2.png') }}"
                             style="height: 100%; width: auto;" class="card-img-top clickable-image"
                             alt="...">
                        <div class="card-footer dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown"
                             aria-expanded="false" style="color: var(--main-bg-color);
                              background-color: var(--btn-color-how);
                              margin-left: -1px; margin-right: -1px; margin-bottom: -1px;">
                            Select Image 1
                            <ul class="dropdown-menu dropdown-menu-1" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#" onclick="changeImage('image1')">
                                    Image 1
                                </a></li>
                                <li><a class="dropdown-item" href="#" onclick="changeImage('image2')">
                                    Image 2
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    text
                </div>
                <div class="col-3">
                    text
                </div>
            </div>
        </div>
    </div>
    <div class="py-1">
        <div class="container d-flex justify-content-center my-4">
            <h1>Face Manipulation</h1>
        </div>
        <div class="container my-2 text-end">
            FACE MANIP
        </div>
    </div>
    <div class="py-1" style="background-color: var(--btn-color-how); color: var(--main-bg-color)">
        <div class="container d-flex justify-content-center my-4">
            <h1 style="color: var(--main-bg-color)">Face Morphing</h1>
        </div>
        <div class="container my-2">
            <p>FACE MORPH</p>
        </div>
        <div class="container py-3">
            <div class="row">
                <div class="col-3">
                    text
                </div>
                <div class="col-3">
                    <div class="card" style="height: 300px">
                        <div class="card-body">
                            <img id="cardImage2" src="{{ url_for('static', filename='images/collage2.png') }}"
                                 class="card-img-top" alt="...">
                        </div>
                        <div class="card-footer dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                             aria-expanded="false" style="color: var(--text-color-pri);
                              background-color: var(--btn-color-sec);
                              margin-left: -1px; margin-right: -1px; margin-bottom: -1px;">
                            Select Image 1
                            <ul class="dropdown-menu dropdown-menu-2" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#" onclick="changeImage('image1')">Image 1</a></li>
                                <li><a class="dropdown-item" href="#" onclick="changeImage('image2')">Image 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    text
                </div>
                <div class="col-3">
                    text
                </div>
            </div>
        </div>
    </div>
    <div class="py-1">
        <div class="container d-flex justify-content-center my-4">
            <h1>Facial Reenactment</h1>
        </div>
        <div class="container my-2 text-end">
            Facial Reenactment
        </div>
    </div>
    <div class="py-1" style="background-color: #0D302E">
        <div class="container d-flex justify-content-center my-4">
            <h1>Text-to-speech</h1>
        </div>
        <div class="container my-2">
            Facial Reenactment
        </div>
    </div>

    <!--    CONT/END BUTTONS-->
    <div class="container mt-3 d-flex justify-content-center">
        <div class="fixed-sm-bottom mb-1">
            <div class="row">
                <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">
                    <a class="btn btn-my-secondary" href="{{ url_for('end') }}">{% block but1 %}{% endblock but1 %}</a>
                </div>
                <div class="col-12 col-md-6 my-2 text-center">
                    <a class="btn btn-my-primary" href="{{ url_for('test') }}">{% block but2 %}{% endblock but2 %}</a>
                </div>
            </div>
        </div>
    </div>

<script>
    function changeImage(imageName) {
        // Get the img element by its id
        let cardImage = document.getElementById('cardImage');

        // Set the src attribute of the img element to the new image URL
        if (imageName === 'image1') {
            cardImage.src = "{{ url_for('static', filename='images/collage2.png') }}";
        } else if (imageName === 'image2') {
            cardImage.src = "{{ url_for('static', filename='images/icon.png') }}";
        }
        // Add more conditions as needed for other image options
    }
</script>

{% endblock content %}