{% extends "playground.html" %}

{% block tit %}
    VYZKOUŠEJTE SI DEEPFAKES
{% endblock tit %}


{% block fs_li_1 %}
   Toto prohození obličejů vezme obrázek člověka z vybraného obrázku 1 a dá mu obličej osoby z vybraného obrázku 2.
{% endblock fs_li_1 %}

{% block fs_li_2%}
    Mohou to být libovolné dva obrázky, ale abych ušetřil čas, připravil jsem jen několik obrázků a vygeneroval z nich
    deepfakes předem.
{% endblock fs_li_2%}

{% block fs_li_3%}
    Aby bylo možné vytvořit deepfake, je třeba vybrat oba obrázky.
{% endblock fs_li_3%}

{% block fs_li_4%}
    Kliknutím na obrázky si je zobrazíte ve větším rozlišení.
{% endblock fs_li_4%}

{% block jb %}
    46. prezident USA
{% endblock jb %}

{% block jib %}
    česká herečka
{% endblock jib %}

{% block rdj %}
    americký herec
{% endblock rdj %}

{% block pp %}
    4. prezident ČR
{% endblock pp %}

{% block ts %}
    americká zpěvačka
{% endblock ts %}

{% block jb2 %}
    46. prezident USA
{% endblock jb2 %}

{% block jib2 %}
    česká herečka
{% endblock jib2 %}

{% block rdj2 %}
    americký herec
{% endblock rdj2 %}

{% block pp2 %}
    4. prezident ČR
{% endblock pp2 %}

{% block ts2 %}
    americká zpěvačka
{% endblock ts2 %}

{% block sel1 %}
    Vybrat obrázek
{% endblock sel1 %}

{% block sel2 %}
    Vybrat obrázek
{% endblock sel2 %}

{% block fs %}
    Vytvořit
{% endblock fs %}

{% block but1 %}
    Zpět
{% endblock but1 %}

{% block but2 %}
    Dokončit !
{% endblock but2 %}

{% block src %}
    Zdroj
{% endblock src %}


{% block sentence %}
    Vyberte Větu
{% endblock sentence %}

{% block source %}
    Vyberte Řečníka
{% endblock source %}


{% block fmi %}
    Podívej se na
{% endblock fmi %}

{% block fmi1 %}
    Andrej Babiš + Petr Fiala
{% endblock fmi1 %}

{% block fmi2 %}
    Elon Musk + The Rock
{% endblock fmi2 %}

{% block fmi3 %}
    Adele + Lucie Bílá
{% endblock fmi3 %}

{% block fmi4 %}
    Mr. Beast + Mr. Bean
{% endblock fmi4 %}

{% block fm1 %}
    Face morphing může využít libovolné 2 obrázky také, ale opět jsem jich již pár připravil.
{% endblock fm1 %}

{% block fm2 %}
    Výstupem je série obrázků, ve kterých se přeměňuje jeden člověk na druhého a uživatel si z této série musí 1 vybrat.
{% endblock fm2 %}

{% block fm3 %}
    Přeměněný obrázek je uprostřed a obrázky po stranách jsou zdrojové obrázky.
{% endblock fm3 %}

{% block free1 %}
    Tvorba deepfakes videí pomocí reenactmentu obličeje je obtížnější než u předchozích typů deepfakes.
{% endblock free1 %}

{% block free2 %}
    To je částečně způsobeno tím, že je třeba upravit velké množství obrázků, namísto jednoho.
{% endblock free2 %}

{% block free3 %}
    A částečně proto, že to co chceme, aby produkt přesně dělal, určuje typy zdrojů, které musíme poskytnout.
{% endblock free3 %}

{% block free4 %}
    Takže místo vytváření nových deepfakes se podívejte na některé skutečné, které se rozšířily online!
{% endblock free4 %}


{% block tts1 %}
    K vytvoření TTS deepfake jsou potřeba dvě věci - hlas mluvčího a psaný text.
{% endblock tts1 %}

{% block tts2 %}
    Oboje bylo připraveno předem, takže si zkuste zkombinovat hlasy několika známých osobností s pár slavnými citáty.
{% endblock tts2 %}


{% block know %}
    ZNÁTE DEEPFAKES&nbsp;?
{% endblock know %}

{% block decide %}
    Hádejte, zda vpravo (na malé obrazovce dole) je či není deepfake.
{% endblock decide %}

{% block decide2 %}
    Kliknutím na tlačítko "Odhalit" zjistíte odpověď.
{% endblock decide2 %}

{% block decide3 %}
    Novým kliknutím načtete další potenciální deepfake.
{% endblock decide3 %}

{% block right %}
    Vpravo
{% endblock right %}

{% block not %}
    Není
{% endblock not %}

{% block cb1 %}
    Normální pasová fotka Dwayne Johnsona.
{% endblock cb1 %}

{% block cb2 %}
    TTS deepfake Donalda Trumpa, zní podobně, ale jde celkem jasně slyšet rozdíl.
{% endblock cb2 %}

{% block cb3 %}
    Známý komentář Miloše Zemana o jeho telefonu, který skutečně řekl.
{% endblock cb3 %}

{% block cb4 %}
    Kontext je důležitý.<br>Je nepravděpodobné, že by papež nosil Balenciaga bundu.<br>Navíc jsou v obrázku lidé kousek
    od papeže, čemuž by jeho ochranka pravděpodobně zabránila.
{% endblock cb4 %}

{% block cb5 %}
    Opět je důležitý kontext.<br>Deepfakes jako je tento se šířily po sociálních sítích, namísto médií, které by si
    takovouto zprávu nenechali ujít.
{% endblock cb5 %}

{% block cb6 %}
    Normální fotka Taylor Swift.
{% endblock cb6 %}

{% block cb7 %}
    U tohoto deepfake je kontext velice vágní, proto jsou zde naopak důležité detaily.<br>Pravé ucho vypadá divně,
    brýle nesahají až za ucho a vypadají, jako by neměly skla, navíc čelo taky vypadá zvláštně.
{% endblock cb7 %}

{% block reveal %}Odhalit{% endblock reveal %}

{% block can %}
    Dokážete odpovědět&nbsp;?
{% endblock can %}

{% block q1 %}
    I mně hrozí nebezpečí útoku využívajícího deepfakes.
{% endblock q1 %}

{% block q2 %}
    Deepfakes umí manipulovat se 3 druhy médií - obrazem, videem a zvukem.
{% endblock q2 %}

{% block q3 %}
    Útoky využívající deepfakes jsou zatím možné pouze teoreticky, reálně je ještě nikdo nezkusil.
{% endblock q3 %}

{% block q4 %}
    Přestože deepfakes představují hrozbu, mohou být i užitečné.
{% endblock q4 %}

{% block q5 %}
    Nyní, když už deepfakes znám, mě žádný útok využívající deepfakes nemůže ohrozit.
{% endblock q5 %}

{% block a1 %}
    Pravda! Zmanipulovaný obsah online, šíření pomluv, nebo třeba podvodné reklamy jsou všechno útoky, které mohou
    deepfakes využívat a jsou hrozbou pro každého z nás.
{% endblock a1 %}

{% block a2 %}
    Pravda! Deepfakes se zaměřují na tvorbu a úpravu vizáže a hlasu lidí na fotkách, ve videu a v audio nahrávkách.
{% endblock a2 %}

{% block a3 %}
    Nepravda! Hlasové deepfakes pro podvodné telefonáty stály už řadu firem i desítky milionů a upravené fotky a videa
    jsou používány pro šíření dezinformací a podvody už nyní.
{% endblock a3 %}

{% block a4 %}
    Pravda! Deepfakes, stejně tak jako ostatní AI technologie představují hrozbu, ale poskytují nám i spoustu
    skvělých příležitostí pro zábavu, vzdělávání, nebo i medicínu.
{% endblock a4 %}

{% block a5 %}
    Nepravda! Jako s každou hrozbou je důležité být informovaný, ale útočníci s novými a lepšími útoky mohou
    ohrozit i znalé lidi. Navíc u deepfakes platí to, že si lidé myslí, že je dokáží poznat lépe, než to ve skutčenosti
    dokážou.
{% endblock a5 %}

{% block true %}
    Pravda
{% endblock true %}

{% block false %}
    Nepravda
{% endblock false %}

{% block next %}
    Další
{% endblock next %}

{% block faceswap %}
    Prohození Obličejů
{% endblock faceswap %}

{% block facemorph %}
    Smíchání Obličejů
{% endblock facemorph %}

{% block faceree %}
    Reenactment Obličeje
{% endblock faceree %}

{% block texttospeech %}
    Text-na-Řeč
{% endblock texttospeech %}

