{% extends "playground.html" %}

{% block tit %}
    TRY DEEPFAKES YOURSELF
{% endblock tit %}


{% block fs_li_1 %}
   This places the face of a person from selected image 2 onto the face of a person from selected image 1.
{% endblock fs_li_1 %}

{% block fs_li_2%}
    These can be any two images you can find, but to save time, I have prepared a few images and generated deepfakes
    from them.
{% endblock fs_li_2%}

{% block fs_li_3%}
    Both images need to be selected in order to create the deepfake.
{% endblock fs_li_3%}

{% block fs_li_4%}
    You can click on the images to view them in higher resolution.
{% endblock fs_li_4%}

{% block jb %}
    46th President of the United States
{% endblock jb %}

{% block jib %}
    Czech actress
{% endblock jib %}

{% block rdj %}
    American actor
{% endblock rdj %}

{% block pp %}
    4th President of the Czech Republic
{% endblock pp %}

{% block ts %}
    American singer-songwriter
{% endblock ts %}

{% block jb2 %}
    46th President of the United States
{% endblock jb2 %}

{% block jib2 %}
    Czech actress
{% endblock jib2 %}

{% block rdj2 %}
    American actor
{% endblock rdj2 %}

{% block pp2 %}
    4th President of the Czech Republic
{% endblock pp2 %}

{% block ts2 %}
    American singer-songwriter
{% endblock ts2 %}

{% block sel1 %}
    Select Image
{% endblock sel1 %}

{% block sel2 %}
    Select Image
{% endblock sel2 %}

{% block fs %}
    Create
{% endblock fs %}

{% block but1 %}
    Back
{% endblock but1 %}

{% block but2 %}
    Finish !
{% endblock but2 %}

{% block src %}
    Source
{% endblock src %}


{% block sentence %}
    Choose Sentence
{% endblock sentence %}

{% block source %}
    Choose Speaker
{% endblock source %}


{% block fmi %}
    Look at
{% endblock fmi %}

{% block fmi1 %}
    Andrej Fiala
{% endblock fmi1 %}

{% block fmi2 %}
    Elon Rock
{% endblock fmi2 %}

{% block fmi3 %}
    Adele Bílá
{% endblock fmi3 %}

{% block fmi4 %}
    Mr. Beanst
{% endblock fmi4 %}

{% block fm1 %}
    Face morphing once again could use any 2 pictures, and I prepared some this time as well.
{% endblock fm1 %}

{% block fm2 %}
    The output is a series of pictures from which transform one person into another and user has to select 1 of them.
{% endblock fm2 %}

{% block fm3 %}
    The morphed picture is the middle and the other are source images.
{% endblock fm3 %}

{% block free1 %}
    Creation of video deepfakes using facial reenactment is more difficult than the previous types of deepfakes.
{% endblock free1 %}

{% block free2 %}
    This is partially due to the fact that a large number of images need to be edited, instead of just one.
{% endblock free2 %}

{% block free3 %}
    And partially because what we want the product to do exactly dictates the types of sources we need to provide.
{% endblock free3 %}

{% block free4 %}
    So, instead of creating one, have a look at some real examples of deepfakes used online!
{% endblock free4 %}


{% block tts1 %}
    Two things are needed to create a TTS deepfake - voice of a speaker and a written text.
{% endblock tts1 %}

{% block tts2 %}
    Both have been prepared in advance, so try to mix and match voices of some famous people with a few famous quotes.
{% endblock tts2 %}
