{% extends "playground.html" %}

{% block tit %}
    VYZKOUŠEJTE SI DEEPFAKES
{% endblock tit %}


{% block fs_li_1 %}
   Toto umístítí obličej osoby z vybraného obrázku 2 na obličej osoby z vybraného obrázku 1.
{% endblock fs_li_1 %}

{% block fs_li_2%}
    Mohou to být libovolné dva obrázky, ale abych ušetřil čas, připravil jsem několik obrázků a vygeneroval z nich
    deepfakes předem.
{% endblock fs_li_2%}

{% block fs_li_3%}
    Aby bylo možné vytvořit deepfake, je třeba vybrat oba obrázky.
{% endblock fs_li_3%}

{% block fs_li_4%}
    Kliknutím na obrázky si je zobrazíte ve větším rozlišení.
{% endblock fs_li_4%}

{% block jb %}
    46. prezident USA
{% endblock jb %}

{% block jib %}
    česká herečka
{% endblock jib %}

{% block rdj %}
    americký herec
{% endblock rdj %}

{% block pp %}
    4. prezident ČR
{% endblock pp %}

{% block ts %}
    americká zpěvačka
{% endblock ts %}

{% block jb2 %}
    46. prezident USA
{% endblock jb2 %}

{% block jib2 %}
    česká herečka
{% endblock jib2 %}

{% block rdj2 %}
    americký herec
{% endblock rdj2 %}

{% block pp2 %}
    4. prezident ČR
{% endblock pp2 %}

{% block ts2 %}
    americká zpěvačka
{% endblock ts2 %}

{% block sel1 %}
    Vybrat obrázek
{% endblock sel1 %}

{% block sel2 %}
    Vybrat obrázek
{% endblock sel2 %}

{% block fs %}
    Vytvořit
{% endblock fs %}

{% block but1 %}
    Zpět
{% endblock but1 %}

{% block but2 %}
    Dokončit !
{% endblock but2 %}

{% block src %}
    Zdroj
{% endblock src %}


{% block sentence %}
    Vyberte Větu
{% endblock sentence %}

{% block source %}
    Vyberte Řečníka
{% endblock source %}


{% block fmi %}
    Look at
{% endblock fmi %}

{% block fmi1 %}
    Andrej Fiala
{% endblock fmi1 %}

{% block fmi2 %}
    Elon Rock
{% endblock fmi2 %}

{% block fmi3 %}
    Adele Bílá
{% endblock fmi3 %}

{% block fmi4 %}
    Mr. Beanst
{% endblock fmi4 %}

{% block fm1 %}
    Face morphing může využít libovolné 2 obrázky také, ale opět jsem jich již pár připravil.
{% endblock fm1 %}

{% block fm2 %}
    Výstupem je série obrázků, ve kterých se přeměňuje jeden člověk na druhého a uživatel si z nich musí 1 vybrat.
{% endblock fm2 %}

{% block fm3 %}
    Přeměněný obrázek je uprostřed a obrázky po stranách jsou zdrojové obrázky.
{% endblock fm3 %}

{% block free1 %}
    Tvorba deepfakes videí pomocí reenactmentu obličeje je obtížnější než u předchozích typů deepfakes.
{% endblock free1 %}

{% block free2 %}
    To je částečně způsobeno tím, že je třeba upravit velké množství obrázků, namísto pouze jednoho.
{% endblock free2 %}

{% block free3 %}
    A částečně proto, že co přesně chceme, aby produkt dělal, určuje typy zdrojů, které musíme poskytnout.
{% endblock free3 %}

{% block free4 %}
    Takže místo vytváření se podívejte na některé skutečné deepdakes, které se rozšířily online!
{% endblock free4 %}


{% block tts1 %}
    K vytvoření TTS deepfake jsou potřeba dvě věci - hlas mluvčího a psaný text.
{% endblock tts1 %}

{% block tts2 %}
    Oboje bylo připraveno předem, takže si zkuste zkombinovat hlasy několika známých osobností s pár slavnými citáty.
{% endblock tts2 %}
