{% extends "test.html" %}

{% block tit %}
    PRŮZKUM
{% endblock tit %}

{% block tit2 %}
    - VÝSLEDKY
{% endblock tit2 %}

{% block question1 %}
    Hlavní roli při vytváření deepfakes hraje
{% endblock question1 %}

{% block question1answer1 %}
    Nevím
{% endblock question1answer1 %}

{% block question1answer2 %}
    Umělá inteligence
{% endblock question1answer2 %}

{% block question1answer3 %}
    Člověk
{% endblock question1answer3 %}

{% block question1answer4 %}
    Zvíře
{% endblock question1answer4 %}



{% block question2 %}
    Deepfakes jsou
{% endblock question2 %}

{% block question2answer1 %}
    Nevím
{% endblock question2answer1 %}

{% block question2answer2 %}
    Oblíbené zpravodajské weby, kde všechny články jsou falešné zprávy (fake-news).
{% endblock question2answer2 %}

{% block question2answer3 %}
    Forma médií vytvořená pomocí umělé inteligence, která vytváří vysoce realistický, ale vymyšlený obsah.
{% endblock question2answer3 %}

{% block question2answer4 %}
    Forma média vytvořená pomocí umělé inteligence zobrazující zfalšované potápění do hloubky.
{% endblock question2answer4 %}



{% block question3 %}
    Deepfakes mohou být použity pro
{% endblock question3 %}

{% block question3answer1 %}
    Nevím
{% endblock question3answer1 %}

{% block question3answer2 %}
    Jen pro dobré věci, představují skvělou příležitost.
{% endblock question3answer2 %}

{% block question3answer3 %}
    Pouze pro špatné účely, představují velkou hrozbu.
{% endblock question3answer3 %}

{% block question3answer4 %}
    Jak pro dobré, tak pro špatné věci, představují jak velkou příležitost, tak velkou hrozbu.
{% endblock question3answer4 %}



{% block question4 %}
    <h5>4) Vyberte všechna správná tvrzení:</h5><br>
    <p class="text ps-4">Běžně můžeme vidět deepfakes ve formě</p>
{% endblock question4 %}

{% block question4answer1 %}
    Map
{% endblock question4answer1 %}

{% block question4answer2 %}
    Zvukových záznamů
{% endblock question4answer2 %}

{% block question4answer3 %}
    Textů
{% endblock question4answer3 %}

{% block question4answer4 %}
    Obrázků
{% endblock question4answer4 %}

{% block question4answer5 %}
    Videí
{% endblock question4answer5 %}

{% block question4answer6 %}
    Webových stránek
{% endblock question4answer6 %}

{% block question4answer7 %}
    Hraček
{% endblock question4answer7 %}

{% block question4answer8 %}
    Her
{% endblock question4answer8 %}



{% block question5 %}
    Zvolte pravdivé tvrzení
{% endblock question5 %}

{% block question5answer1 %}
    Nevím
{% endblock question5answer1 %}

{% block question5answer2 %}
    Umělá inteligence nemůže nikdy nic vytvořit.
{% endblock question5answer2 %}

{% block question5answer3 %}
    Umělá inteligence může vytvářet věci, ale nejprve je třeba ji natrénovat.
{% endblock question5answer3 %}

{% block question5answer4 %}
    Umělá inteligence dokáže vytvořit cokoliv a kdykoliv.   ???
{% endblock question5answer4 %}



{% block question6 %}
    <h5>6) Doplňte mezeru v následující větě:<br></h5>
    <p class="text ps-4">Umělá inteligence umí _____ obrázky.</p>
{% endblock question6 %}

{% block question6answer1 %}
    Nevím
{% endblock question6answer1 %}

{% block question6answer2 %}
    vytvářet a upravovat
{% endblock question6answer2 %}

{% block question6answer3 %}
    pouze vytvářet
{% endblock question6answer3 %}

{% block question6answer4 %}
    pouze upravovat
{% endblock question6answer4 %}



{% block question7 %}
    <h5>7) Vyberte všechna správná tvrzení:</h5><br>
    <p class="text ps-4">Co může udělat umělá inteligence s obrazem člověka, když vytváří deepfake?</p>
{% endblock question7 %}

{% block question7answer1 %}
    Vyměnit jejich obličej za obličej jiného člověka.
{% endblock question7answer1 %}

{% block question7answer2 %}
    Zkombinat jejich obličej s obličejem jiné osoby a vytvořit nový obrázek, který sdílí rysy obou obličejů.
{% endblock question7answer2 %}

{% block question7answer3 %}
    Přidat věci jako módní doplňky, nebo upravit rysy obličeje, jako barvu pleti, nebo vlasů.
{% endblock question7answer3 %}

{% block question7answer4 %}
    Odstranit rysy obličeje, například piercing, nebo tetování.
{% endblock question7answer4 %}



{% block question8 %}
    Vyberte pravdivé tvrzení
{% endblock question8 %}

{% block question8answer1 %}
    Nevím
{% endblock question8answer1 %}

{% block question8answer2 %}
    Deepfake obrázky představují hrozbu pouze pro lidi a nemohou ohrozit biometrický software.
{% endblock question8answer2 %}

{% block question8answer3 %}
    Deepfake obrázky představují hrozbu pouze pro biometrický software a nemohou ohrozit lidi.
{% endblock question8answer3 %}

{% block question8answer4 %}
    Deepfake obrázky představují hrozbu jak pro lidi, tak pro biometrický software.
{% endblock question8answer4 %}

hlas same !!!

{% block question9%}
    Umělá inteligence dokáže vytvořit řeč jiné osoby, která
{% endblock question9%}

{% block question9answer1 %}
    Nevím
{% endblock question9answer1 %}

{% block question9answer2 %}
    Je snadno srozumitelná, ale také snadno odlišitelná od zdroje.
{% endblock question9answer2 %}

{% block question9answer3 %}
    Zní stejně jako zdroj, ale není snadné jí rozumět.
{% endblock question9answer3 %}

{% block question9answer4 %}
    Je snadno srozumitelná a zní nerozeznatelně od zdroje.
{% endblock question9answer4 %}



{% block question10 %}
    Hlasové deepfakes zní přesvědčivě, když jsou připraveny předem, ale nelze je vytvářet naživo (během konverzace)
{% endblock question10 %}

{% block question10answer1 %}
    Nevím
{% endblock question10answer1 %}

{% block question10answer2 %}
    Pravda
{% endblock question10answer2 %}

{% block question10answer3 %}
    Nepravda
{% endblock question10answer3 %}



{% block question11 %}
    <h5>11) Doplňte mezeru v následující větě:<br></h5>
    <p class="text ps-4"> Když mi zavolá někdo, koho znám a požádá mě, abych mu poslal peníze na specifický účet,
        protože se jim něco stalo, _____.</p>
{% endblock question11 %}

{% block question11answer1 %}
    nevím, co bych udělal
{% endblock question11answer1 %}

{% block question11answer2 %}
    ihned tak udělám, protože mi záleží na lidem kolem mě
{% endblock question11answer2 %}

{% block question11answer3 %}
    tak si prvně ověřím, jestli to skutečně je ta osoba, předtím, než se rozhodnu.
{% endblock question11answer3 %}

{% block question11answer4 %}
    tak automaticky odmítám, protože vím, že lidé kteří mi volají a zní jako mí známí jsou podvodníci
{% endblock question11answer4 %}



{% block question12 %}
    Ve videu je možné zaměnit tvář jedné osoby za tvář jiné osoby
{% endblock question12 %}

{% block question12answer1 %}
    Nevím
{% endblock question12answer1 %}

{% block question12answer2 %}
    Pravda
{% endblock question12answer2 %}

{% block question12answer3 %}
    Nepravda
{% endblock question12answer3 %}



{% block question13 %}
    Deepfake videa je snadné rozpoznat, protože nedokážou synchronizovat rty osoby s jejich řečí
{% endblock question13 %}

{% block question13answer1 %}
    Nevím
{% endblock question13answer1 %}

{% block question13answer2 %}
    Pravda
{% endblock question13answer2 %}

{% block question13answer3 %}
    Nepravda
{% endblock question13answer3 %}

{% block but %}
    Pokračovat
{% endblock but %}
