{% extends "layout.html" %}
{% block content %}

<!--<div class="container d-flex justify-content-center mb-4">-->
<!--    <h2>COURSE INFORMATION</h2>-->
<!--</div>-->

<div class="container mb-4 text-center">
    <h1>SURVEY</h1>
</div>

<!--    QUESTION 1    -->
<div class="container">
    <div class="justify-content-center align-items-center mt-4">
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>1) The main role in the creation of deepfakes is assumed by:</h3>
                </div>

                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q1" id="q1a1" checked>
                                <label class="form-check-label text" for="q1a1">
                                    I don't know
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q1" id="q1a2">
                                <label class="form-check-label text" for="q1a2">
                                    Artificial intelligence
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q1" id="q1a3">
                                <label class="form-check-label text" for="q1a3">
                                    Humans
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q1" id="q1a4">
                                <label class="form-check-label text" for="q1a4">
                                    Animals
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 2    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>2) Deepfakes are:</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q2" id="q2a1" checked>
                            <label class="form-check-label text" for="q2a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q2" id="q2a2">
                            <label class="form-check-label text" for="q2a2">
                                Popular news websites where all articles are fake-news
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q2" id="q2a3">
                            <label class="form-check-label text" for="q2a3">
                                A form of media created using artificial intelligence that creates highly realistic, but
                                fabricated content
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q2" id="q2a4">
                            <label class="form-check-label text" for="q2a4">
                                A form of media created using artificial intelligence depicting faked deep diving
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 3    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>3) Deepfakes can be used for:</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q3" id="q3a1" checked>
                            <label class="form-check-label text" for="q3a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q3" id="q3a2">
                            <label class="form-check-label text" for="q3a2">
                                Only for good things, they pose a great opportunity
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q3" id="q3a3">
                            <label class="form-check-label text" for="q3a3">
                                Only for bad things, they pose a great threat
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q3" id="q3a4">
                            <label class="form-check-label text" for="q3a4">
                                Both for good and bad things, they pose a great opportunity and a great threat
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    QUESTION 4    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>4)</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q4" id="q4a1" checked>
                            <label class="form-check-label text" for="q4a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q4" id="q4a2">
                            <label class="form-check-label text" for="q4a2">
                                Artificial intelligence
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q4" id="q4a3">
                            <label class="form-check-label text" for="q4a3">
                                Humans
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q4" id="q4a4">
                            <label class="form-check-label text" for="q4a4">
                                Animals
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 5    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>5) Choose true statement</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q5" id="q5a1" checked>
                            <label class="form-check-label text" for="q5a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q5" id="q5a2">
                            <label class="form-check-label text" for="q5a2">
                                Artificial intelligence can never create anything
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q5" id="q5a3">
                            <label class="form-check-label text" for="q5a3">
                                Artificial intelligence can create things, but it first needs to be trained
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q5" id="q5a4">
                            <label class="form-check-label text" for="q5a4">
                                Artificial intelligence can create anything at any time
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 6    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>6) fill blank space in following sentence:<br></h3>
                <p class="text ps-4">Artificial intelligence can _______ images.</p>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q6" id="q6a1" checked>
                            <label class="form-check-label text" for="q6a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q6" id="q6a2">
                            <label class="form-check-label text" for="q6a2">
                                create and alter
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q6" id="q6a3">
                            <label class="form-check-label text" for="q6a3">
                                only create
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q6" id="q6a4">
                            <label class="form-check-label text" for="q6a4">
                                only alter
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 7    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>7)</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q7" id="q7a1" checked>
                            <label class="form-check-label text" for="q7a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q7" id="q7a2">
                            <label class="form-check-label text" for="q7a2">
                                Artificial intelligence
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q7" id="q7a3">
                            <label class="form-check-label text" for="q7a3">
                                Humans
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q7" id="q7a4">
                            <label class="form-check-label text" for="q7a4">
                                Animals
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 8    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>8) Choose true statement:</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q8" id="q8a1" checked>
                            <label class="form-check-label text" for="q8a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q8" id="q8a2">
                            <label class="form-check-label text" for="q8a2">
                                Deepfake images pose threat only to people and can't threaten biometrics software
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q8" id="q8a3">
                            <label class="form-check-label text" for="q8a3">
                                Deepfake images pose threat only to biometrics software and can't threaten people
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q8" id="q8a4">
                            <label class="form-check-label text" for="q8a4">
                                Deepfake images pose threat to both people and biometrics software
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 9    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>2) Deepfakes are:</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q9" id="q9a1" checked>
                            <label class="form-check-label text" for="q9a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q9" id="q9a2">
                            <label class="form-check-label text" for="q9a2">
                                Is easily understood, but also easily distinguishable from source.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q9" id="q9a3">
                            <label class="form-check-label text" for="q9a3">
                                Sounds indistinguishable from the source, but is not understood easily.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q9" id="q9a4">
                            <label class="form-check-label text" for="q9a4">
                                Is easily understood and sounds indistinguishable from the source.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 10    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>10) Voice deepfakes do sound convincing when they are prepared ahead of time, but they can't be used
                    during a real-time conversation</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q10" id="q10a1" checked>
                            <label class="form-check-label text" for="q10a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q10" id="q10a2">
                            <label class="form-check-label text" for="q10a2">
                                True
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q10" id="q10a3">
                            <label class="form-check-label text" for="q10a3">
                                False
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 11    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>6) fill blank space in following sentence:<br></h3>
                <p class="text ps-4">When someone I care for calls and asks me to transfer some sum of money to a
                    specific bank account because they are in an immediate crisis, I _____.</p>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q11" id="q11a1" checked>
                            <label class="form-check-label text" for="q11a1">
                                don't know what would I do
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q11" id="q11a2">
                            <label class="form-check-label text" for="q11a2">
                                immediately do so, because I should allways help people I care for
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q11" id="q11a3">
                            <label class="form-check-label text" for="q11a3">
                                first make sure that it really is them before deciding whether to send the money
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q11" id="q11a4">
                            <label class="form-check-label text" for="q11a4">
                                know that people calling me are scammers that sound like people I care for, and
                                therefore I won't send any money to them
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 12    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>12) It is possible to swap face of a person in a video with face of another person:</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q12" id="q12a1" checked>
                            <label class="form-check-label text" for="q12a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q12" id="q12a2">
                            <label class="form-check-label text" for="q12a2">
                                True
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q12" id="q12a3">
                            <label class="form-check-label text" for="q12a3">
                                False
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    QUESTION 13    -->
    <div class="row py-2">
        <div class="card" style="min-height: 100px; min-width: 350px;">
            <div class="card-header">
                <h3>13) It is easy to recognize video deepfakes, because they can't synchronize lips of person to their
                    speech:</h3>
            </div>

            <div class="card-body ps-5">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q13" id="q13a1" checked>
                            <label class="form-check-label text" for="q13a1">
                                I don't know
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q13" id="q13a2">
                            <label class="form-check-label text" for="q13a2">
                                True
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q13" id="q13a3">
                            <label class="form-check-label text" for="q13a3">
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q13" id="q13a4">
                            <label class="form-check-label text" for="q13a4">
                                Animals
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--    CONT/END BUTTONS    -->
<div class="container mt-3 d-flex justify-content-center">
    <div class="fixed-sm-bottom mb-3">
        <div class="row">
            <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">
                <a class="btn btn-my-secondary" href="{{ url_for('info') }}">Back</a>
            </div>
            <div class="col-12 col-md-6 my-2 text-center">
                <a class="btn btn-my-primary" href="{{ url_for('general') }}" id="continue">Continue</a>
            </div>
        </div>
    </div>
</div>

<script>
</script>

{% endblock content %}
<!--    <div>-->
<!--        <form method="POST" action="">-->
<!--            {{ form.hidden_tag() }}-->
<!--            <fieldset>-->
<!--                <legend>LEGEND</legend>-->
<!--                <div>-->
<!--                    {{form.username.label}}-->
<!--                    {{form.username}}-->
<!--                </div>-->
<!--            </fieldset>-->
<!--            <div>-->
<!--                {{ form.submit }}-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->