{% extends "layout.html" %}
{% block content %}

<!--<div class="container d-flex justify-content-center mb-4">-->
<!--    <h2>COURSE INFORMATION</h2>-->
<!--</div>-->

<div class="container mb-4 text-center">
    <h1>SURVEY</h1>
</div>

<!--    QUESTION 1    -->
<form id="testForm" action="{% if session.get('pre-test_completed') %} {{ url_for('index') }} {% else %}
        {{ url_for('general') }} {% endif %}" method="post">
    <div class="container">
        <div class="justify-content-center align-items-center mt-4">
            <div class="row py-2">
                <div class="card" style="min-height: 100px; min-width: 350px;">
                    <div class="card-header">
                        <h3>1) The main role in the creation of deepfakes is assumed by:</h3>
                    </div>
    
                    <div class="card-body ps-5">
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="q1" id="q1a1" value="1" checked>
                                    <label class="form-check-label text" for="q1a1">
                                        I don't know.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="q1" id="q1a2" value="2">
                                    <label class="form-check-label text" for="q1a2">
                                        Artificial intelligence
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="q1" id="q1a3" value="3">
                                    <label class="form-check-label text" for="q1a3">
                                        Humans
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="q1" id="q1a4" value="4">
                                    <label class="form-check-label text" for="q1a4">
                                        Animals
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 2    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>2) Deepfakes are:</h3>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q2" id="q2a1" value="1" checked>
                                <label class="form-check-label text" for="q2a1">
                                    I don't know.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q2" id="q2a2" value="2">
                                <label class="form-check-label text" for="q2a2">
                                    Popular news websites where all articles are fake-news.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q2" id="q2a3" value="3">
                                <label class="form-check-label text" for="q2a3">
                                    A form of media created using artificial intelligence that creates highly realistic,
                                    but fabricated content.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q2" id="q2a4" value="4">
                                <label class="form-check-label text" for="q2a4">
                                    A form of media created using artificial intelligence depicting faked deep diving.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 3    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>3) Deepfakes can be used for:</h3>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q3" id="q3a1" value="1" checked>
                                <label class="form-check-label text" for="q3a1">
                                    I don't know.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q3" id="q3a2" value="2">
                                <label class="form-check-label text" for="q3a2">
                                    Only for good things, they pose a great opportunity.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q3" id="q3a3" value="3">
                                <label class="form-check-label text" for="q3a3">
                                    Only for bad things, they pose a great threat.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q3" id="q3a4" value="4">
                                <label class="form-check-label text" for="q3a4">
                                    Both for good and bad things, they pose a great opportunity and a great threat.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!--    QUESTION 4    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>4) Choose all correct statements:</h3><br>
                    <p class="text ps-4">We can commonly see deepfakes in the form of </p>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q4" id="q4a1" value="1">
                                <label class="form-check-label text" for="q4a1">
                                    Newspaper articles
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q4" id="q4a2" value="2">
                                <label class="form-check-label text" for="q4a2">
                                    Audio recording
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q4" id="q4a3" value="3">
                                <label class="form-check-label text" for="q4a3">
                                    Texts
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q4" id="q4a4" value="4">
                                <label class="form-check-label text" for="q4a4">
                                    Images
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q4" id="q4a5" value="5">
                                <label class="form-check-label text" for="q4a5">
                                    Video Recordings
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q4" id="q4a6" value="6">
                                <label class="form-check-label text" for="q4a6">
                                    Web-pages
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q4" id="q4a7" value="7">
                                <label class="form-check-label text" for="q4a7">
                                    Toys
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q4" id="q4a8" value="8">
                                <label class="form-check-label text" for="q4a8">
                                    Games
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 5    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>5) Choose true statement</h3>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q5" id="q5a1" value="1" checked>
                                <label class="form-check-label text" for="q5a1">
                                    I don't know.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q5" id="q5a2" value="2">
                                <label class="form-check-label text" for="q5a2">
                                    Artificial intelligence can never create anything.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q5" id="q5a3" value="3">
                                <label class="form-check-label text" for="q5a3">
                                    Artificial intelligence can create things, but it first needs to be trained.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q5" id="q5a4" value="4">
                                <label class="form-check-label text" for="q5a4">
                                    Artificial intelligence can create anything at any time.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 6    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>6) Fill blank space in following sentence:<br></h3>
                    <p class="text ps-4">Artificial intelligence can _____ images.</p>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q6" id="q6a1" value="1" checked>
                                <label class="form-check-label text" for="q6a1">
                                    I don't know.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q6" id="q6a2" value="2">
                                <label class="form-check-label text" for="q6a2">
                                    create and alter
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q6" id="q6a3" value="3">
                                <label class="form-check-label text" for="q6a3">
                                    only create
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q6" id="q6a4" value="4">
                                <label class="form-check-label text" for="q6a4">
                                    only alter
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 7    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>7) Choose all correct statements:</h3><br>
                    <p class="text ps-4">What can artificial intelligence do to an image of a person when it is
                        generating a deepfake?</p>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q7" id="q7a1" value="1">
                                <label class="form-check-label text" for="q7a1">
                                    Swap their face with another person's face.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q7" id="q7a2" value="2">
                                <label class="form-check-label text" for="q7a2">
                                    Combine their face with another person creating new image that shares facial
                                    features of both.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q7" id="q7a3" value="3">
                                <label class="form-check-label text" for="q7a3">
                                    Add things like face accessories or alter facial features such as skin or hair
                                    color.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="q7" id="q7a4" value="4">
                                <label class="form-check-label text" for="q7a4">
                                    Remove facial features such as piercings or tattoos.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 8    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>8) Choose true statement:</h3>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q8" id="q8a1" value="1" checked>
                                <label class="form-check-label text" for="q8a1">
                                    I don't know.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q8" id="q8a2" value="2">
                                <label class="form-check-label text" for="q8a2">
                                    Deepfake images pose threat only to people and can't threaten biometrics software.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q8" id="q8a3" value="3">
                                <label class="form-check-label text" for="q8a3">
                                    Deepfake images pose threat only to biometrics software and can't threaten people.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q8" id="q8a4" value="4">
                                <label class="form-check-label text" for="q8a4">
                                    Deepfake images pose threat to both people and biometrics software.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 9    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>9) Artificial intelligence can recreate speech of another person that:</h3>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q9" id="q9a1" value="1" checked>
                                <label class="form-check-label text" for="q9a1">
                                    I don't know
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q9" id="q9a2" value="2">
                                <label class="form-check-label text" for="q9a2">
                                    Is easily understood, but also easily distinguishable from source.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q9" id="q9a3" value="3">
                                <label class="form-check-label text" for="q9a3">
                                    Sounds indistinguishable from the source, but is not understood easily.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q9" id="q9a4" value="4">
                                <label class="form-check-label text" for="q9a4">
                                    Is easily understood and sounds indistinguishable from the source.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 10    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>10) Voice deepfakes do sound convincing when they are prepared ahead of time, but they can't be
                        used during a real-time conversation</h3>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q10" id="q10a1" value="1" checked>
                                <label class="form-check-label text" for="q10a1">
                                    I don't know.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q10" id="q10a2" value="2">
                                <label class="form-check-label text" for="q10a2">
                                    True
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q10" id="q10a3" value="3">
                                <label class="form-check-label text" for="q10a3">
                                    False
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 11    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>6) fill blank space in following sentence:<br></h3>
                    <p class="text ps-4">When someone I care for calls and asks me to transfer some sum of money to a
                        specific bank account because they are in an immediate crisis, I _____.</p>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q11" id="q11a1" value="1" checked>
                                <label class="form-check-label text" for="q11a1">
                                    don't know what would I do
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q11" id="q11a2" value="2">
                                <label class="form-check-label text" for="q11a2">
                                    immediately do so, because I should allways help people I care for
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q11" id="q11a3" value="3">
                                <label class="form-check-label text" for="q11a3">
                                    first make sure that it really is them before deciding whether to send the money
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q11" id="q11a4" value="4">
                                <label class="form-check-label text" for="q11a4">
                                    know that people calling me are scammers that sound like people I care for, and
                                    therefore I won't send any money to them
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 12    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>12) It is possible to swap face of a person in a video with face of another person:</h3>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q12" id="q12a1" value="1" checked>
                                <label class="form-check-label text" for="q12a1">
                                    I don't know.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q12" id="q12a2" value="2">
                                <label class="form-check-label text" for="q12a2">
                                    True
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q12" id="q12a3" value="3">
                                <label class="form-check-label text" for="q12a3">
                                    False
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--    QUESTION 13    -->
        <div class="row py-2">
            <div class="card" style="min-height: 100px; min-width: 350px;">
                <div class="card-header">
                    <h3>13) It is easy to recognize video deepfakes, because they can't synchronize lips of person to
                        their speech:</h3>
                </div>
    
                <div class="card-body ps-5">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q13" id="q13a1" value="1" checked>
                                <label class="form-check-label text" for="q13a1">
                                    I don't know.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q13" id="q13a2" value="2">
                                <label class="form-check-label text" for="q13a2">
                                    True
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="q13" id="q13a3" value="3">
                                <label class="form-check-label text" for="q13a3">
                                    False
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    get values of previously answered questions     -->
    {% if session.get('q1a') %}
        <div id="q1ans" data-ans="{{ session.get('q1a') }}"></div>
        <div id="q2ans" data-ans="{{ session.get('q2a') }}"></div>
        <div id="q3ans" data-ans="{{ session.get('q3a') }}"></div>
        <div id="q4ans" data-ans="{{ session.get('q4a') }}"></div>
        <div id="q5ans" data-ans="{{ session.get('q5a') }}"></div>
        <div id="q6ans" data-ans="{{ session.get('q6a') }}"></div>
        <div id="q7ans" data-ans="{{ session.get('q7a') }}"></div>
        <div id="q8ans" data-ans="{{ session.get('q8a') }}"></div>
        <div id="q9ans" data-ans="{{ session.get('q9a') }}"></div>
        <div id="q10ans" data-ans="{{ session.get('q10a') }}"></div>
        <div id="q11ans" data-ans="{{ session.get('q11a') }}"></div>
        <div id="q12ans" data-ans="{{ session.get('q12a') }}"></div>
        <div id="q13ans" data-ans="{{ session.get('q13a') }}"></div>
    {% endif %}


    <!--    CONT/END BUTTONS    -->
    <div class="container mt-3 d-flex justify-content-center">
        <div class="fixed-sm-bottom mb-3">
            <div class="row">
<!--                <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">-->
<!--                    <a class="btn btn-my-secondary" href="{{ url_for('info') }}">Back</a>-->
<!--                </div>-->
                <div class="col-12 col-md-6 my-2 text-center">
                    <button type="submit" class="btn btn-my-primary" id="continue">Continue</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // if the survey was already completed before, check all the answers like user did
        if (document.getElementById('q1ans')) {
            for (let i = 1; i < 14; i++) {
                let question = 'q' + i;
                let ansNum = null;
                let answers = document.getElementsByName(question)

                if (i === 4 || i === 7) {
                    ansNum = document.getElementById(question + 'ans').getAttribute('data-ans');
                    if (ansNum.length > 0) {
                    ansNum = ansNum.split(',').map(Number);

                    ansNum.forEach(function (element) {
                        answers[element - 1].checked = true;
                    });
                    }
                }
                else {
                    ansNum = parseInt(document.getElementById(question + 'ans').getAttribute('data-ans')) - 1;
                    answers[ansNum].checked = true;
                }
            }
        }
    });

    function getSelectedValue(question) {
        // function returns value of a (radio button) question, which is passed as an argument
        const answers = document.getElementsByName(question);
        let answerValue = null;

        for (let i = 0; i < answers.length; i++) {
            if (answers[i].checked) {
                answerValue = answers[i].value;
                break;
            }
        }
        return answerValue;
    }

    function getSelectedValues(question) {
        // function returns value(s) of a (checkbox button) question, which is passed as an argument
        const answers = document.getElementsByName(question);
        let answerValues = [];

        for (let i = 0; i < answers.length; i++) {
            if (answers[i].checked) {
                answerValues.push(answers[i].value);
            }
        }
        return answerValues.join(',');
    }


    document.getElementById('testForm').addEventListener('submit', function () {
        // upon submitting the form answers, the selected values are saved to hidden inputs so that they can be stored
        for (let question = 1; question < 14; question++) {
            // Get selected value(s) of a question
            let name = 'q' + question;
            let selectedValue = null;
            if (question === 4 || question === 7)
                selectedValue = getSelectedValues(name);
            else
                selectedValue = getSelectedValue(name);

            // Add the selected value(s) as a hidden input to the form
            let hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = name + 'a';
            hiddenInput.value = selectedValue;
            document.getElementById('testForm').appendChild(hiddenInput);
        }
    });
</script>

{% endblock content %}