{% extends "test.html" %}

{% block tit %}
    SURVEY
{% endblock tit %}

{% block tit2 %}
    - RESULTS
{% endblock tit2 %}

{% block question1 %}
    The main role in the creation of deepfakes is assumed by
{% endblock question1 %}

{% block question1answer1 %}
    I don't know.
{% endblock question1answer1 %}

{% block question1answer2 %}
    Artificial intelligence
{% endblock question1answer2 %}

{% block question1answer3 %}
    Humans
{% endblock question1answer3 %}

{% block question1answer4 %}
    Animals
{% endblock question1answer4 %}



{% block question2 %}
    Deepfakes are
{% endblock question2 %}

{% block question2answer1 %}
    I don't know.
{% endblock question2answer1 %}

{% block question2answer2 %}
    Popular news websites where all the articles are fake-news.
{% endblock question2answer2 %}

{% block question2answer3 %}
    A form of media created using artificial intelligence that creates highly realistic but fabricated content.
{% endblock question2answer3 %}

{% block question2answer4 %}
    A form of media created using artificial intelligence depicting faked deep diving.
{% endblock question2answer4 %}



{% block question3 %}
     Deepfakes can be used for
{% endblock question3 %}

{% block question3answer1 %}
    I don't know.
{% endblock question3answer1 %}

{% block question3answer2 %}
    Only for good things, they pose a great opportunity.
{% endblock question3answer2 %}

{% block question3answer3 %}
    Only for bad things, they pose a great threat.
{% endblock question3answer3 %}

{% block question3answer4 %}
    Both for good and bad things, they pose a great opportunity and a great threat.
{% endblock question3answer4 %}



{% block question4 %}
    <h3>4) Choose all correct statements:</h3><br>
    <p class="text ps-4">We can commonly see deepfakes in the form of </p>
{% endblock question4 %}

{% block question4answer1 %}
    Newspaper articles
{% endblock question4answer1 %}

{% block question4answer2 %}
    Audio recording
{% endblock question4answer2 %}

{% block question4answer3 %}
    Texts
{% endblock question4answer3 %}

{% block question4answer4 %}
    Images
{% endblock question4answer4 %}

{% block question4answer5 %}
    Video Recordings
{% endblock question4answer5 %}

{% block question4answer6 %}
    Web-pages
{% endblock question4answer6 %}

{% block question4answer7 %}
    Toys
{% endblock question4answer7 %}

{% block question4answer8 %}
    Games
{% endblock question4answer8 %}



{% block question5 %}
    Choose true statement
{% endblock question5 %}

{% block question5answer1 %}
    I don't know.
{% endblock question5answer1 %}

{% block question5answer2 %}
    Artificial intelligence can never create anything.
{% endblock question5answer2 %}

{% block question5answer3 %}
    Artificial intelligence can create things, but it first needs to be trained.
{% endblock question5answer3 %}

{% block question5answer4 %}
    Artificial intelligence can create anything at any time.
{% endblock question5answer4 %}



{% block question6 %}
    <h3>6) Fill blank space in following sentence:<br></h3>
    <p class="text ps-4">Artificial intelligence can _____ images.</p>
{% endblock question6 %}

{% block question6answer1 %}
    I don't know.
{% endblock question6answer1 %}

{% block question6answer2 %}
    create and alter
{% endblock question6answer2 %}

{% block question6answer3 %}
    only create
{% endblock question6answer3 %}

{% block question6answer4 %}
    only alter
{% endblock question6answer4 %}



{% block question7 %}
    <h3>7) Choose all correct statements:</h3><br>
    <p class="text ps-4">What can artificial intelligence do to an image of a person when it is
        generating a deepfake?</p>
{% endblock question7 %}

{% block question7answer1 %}
    Swap their face with another person's face.
{% endblock question7answer1 %}

{% block question7answer2 %}
    Combine their face with another person creating new image that shares facial
    features of both.
{% endblock question7answer2 %}

{% block question7answer3 %}
    Add things like face accessories or alter facial features such as skin or hair
    color.
{% endblock question7answer3 %}

{% block question7answer4 %}
    Remove facial features such as piercings and tattoos.
{% endblock question7answer4 %}



{% block question8 %}
    Choose true statement
{% endblock question8 %}

{% block question8answer1 %}
    I don't know.
{% endblock question8answer1 %}

{% block question8answer2 %}
    Deepfake images pose threat only to people and can't threaten biometrics software.
{% endblock question8answer2 %}

{% block question8answer3 %}
    Deepfake images pose threat only to biometrics software and can't threaten people.
{% endblock question8answer3 %}

{% block question8answer4 %}
    Deepfake images pose threat to both people and biometrics software.
{% endblock question8answer4 %}



{% block question9%}
    Artificial intelligence can recreate speech of another person that
{% endblock question9%}

{% block question9answer1 %}
    I don't know.
{% endblock question9answer1 %}

{% block question9answer2 %}
    Is easily understood, but also easily distinguishable from source.
{% endblock question9answer2 %}

{% block question9answer3 %}
    Sounds indistinguishable from the source, but is not understood easily.
{% endblock question9answer3 %}

{% block question9answer4 %}
    Is easily understood and sounds indistinguishable from the source.
{% endblock question9answer4 %}



{% block question10 %}
    Voice deepfakes do sound convincing when they are prepared ahead of time, but they can't be used during a real-time
    conversation
{% endblock question10 %}

{% block question10answer1 %}
    I don't know.
{% endblock question10answer1 %}

{% block question10answer2 %}
    True
{% endblock question10answer2 %}

{% block question10answer3 %}
    False
{% endblock question10answer3 %}



{% block question11 %}
    <h3>11) Fill blank space in following sentence:<br></h3>
    <p class="text ps-4">When someone I care for calls and asks me to transfer some sum of money to a
        specific bank account because they are in an immediate crisis, I _____.</p>
{% endblock question11 %}

{% block question11answer1 %}
    don't know what would I do
{% endblock question11answer1 %}

{% block question11answer2 %}
    immediately do so, because I should allways help people I care for
{% endblock question11answer2 %}

{% block question11answer3 %}
    first make sure that it really is them before deciding whether to send the money
{% endblock question11answer3 %}

{% block question11answer4 %}
    know that people calling me are scammers that sound like people I care for, and
    therefore I won't send any money to them
{% endblock question11answer4 %}



{% block question12 %}
    It is possible to swap face of a person in a video with face of another person
{% endblock question12 %}

{% block question12answer1 %}
    I don't know.
{% endblock question12answer1 %}

{% block question12answer2 %}
    True
{% endblock question12answer2 %}

{% block question12answer3 %}
    False
{% endblock question12answer3 %}



{% block question13 %}
    It is easy to recognize video deepfakes, because they can't synchronize lips of person to their speech
{% endblock question13 %}

{% block question13answer1 %}
    I don't know.
{% endblock question13answer1 %}

{% block question13answer2 %}
    True
{% endblock question13answer2 %}

{% block question13answer3 %}
    False
{% endblock question13answer3 %}

{% block but %}
    Continue
{% endblock but %}
