{% extends "layout.html" %}
{% block content %}

<!--    TITLE  -->
    <div class="container d-flex justify-content-center mb-4">
        <h2>AUDIO DEEPFAKES</h2>
    </div>


<!-- VIDEO vs IMAGES -->
    <div class="container mt-4">
        <div class="row py-4">
            <div class="col-12">
                <p class="text">AI can do many things with audio recordings, but deepfakes are concerned with<h3> creating</h3><p class="text"> a voice and <h3>converting</h3><p class="text"> one voice into another</p>
            </div>
        </div>


<!--    HOW -->
        <h3>How does it work?</h3>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text">Instead of pictures, the AI is given</p> audio recordings<p class="text"> of a specific person for training</p>
                </div>
                <div class="col-12">
                    <p class="text">Once the training is completed, the AI is able to produce speech that:</p>
                </div>
                <div class="col-12">
                    <ul>
                        <li>
                            <p class="text">can be </p>easily understood
                        </li>
                        <li>
                            <p class="text">sounds </p>indistinguishable <p class="text">from the source</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--    TTS & SC 1/2    -->
    <div class="container pt-4">
        <div class="row">
            <div class="col-6 pb-5 pb-lg-0">
<!--                TTS -->
                <h1>Text-to-speech synthesis</h1>
                <div class="row">
                    <div class="col-12">
                        Text-to-speech or TTS is a way to generate speech from a written text
                    </div>
                </div>
            </div>


<!--                SC -->
            <div class="col-6 pb-3 pb-lg-0">
                <h1>Speech-to-speech conversion</h1>
                <div class="row">
                    <div class="col-12">
                        Speech-to-speech or STS is a way to make one person sound as another
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    TTS & SC 2/2    -->
    <div class="container">
        <div class="row">
<!--            TTS-->
            <div class="col-12 col-lg-6 pb-lg-0">
                <div class="mt-4">
                    <h3>Why use TTS?</h3>
                </div>
                <div class="container">
                    <div class="row mb-2 mb-md-0">
                        <div class="col-12 pb-1">
                            <p class="text">TTS adds accessibility to any text for people with visual impairments or
                                other disabilities.</p>
                        </div>
                        <div class="col-12 pb-1">
                            <p class="text">Easy and fast way to create long recordings, such as audiobooks.</p>
                        </div>
                        <div class="col-12 pb-1">
                            <p class="text">TTS is the way digital assistants such as Siri or Alexa communicate
                                with you.</p>
                        </div>
                        <div class="col-12 pb-1">
                            <p class="text">Convenient way for streamers, youtubers etc. to not have to read
                                messages such as donation messages.</p>
                        </div>
                        <div class="col-12">
                            <p class="text">For fun - it is a way to "make others" say silly things.</p>
                        </div>
                    </div>
                </div>
            </div>

<!--                SC -->
            <div class="col-12 col-md-6 pb-lg-0">
                <div class="mt-4">
                    <h3>Why use STS?</h3>
                </div>
                <div class="container">
                    <div class="row mb-2 mb-md-0">
                        <div class="col-12 pb-1">
                            <p class="text">Dubbing of movies, adds etc. can be done anyone and not change how the
                                actors and actresses sound.</p>
                        </div>
                        <div class="col-12 pb-1">
                            <p class="text">STS can be found in online games and voice parodies.</p>
                        </div>
                        <div class="col-12 pb-1">
                            <p class="text">Creation of "AI covers" uses STS to make songs sound like they were sung by
                                other artists.</p>
                        </div>
                        <div class="col-12 pb-1">
                            <p class="text">Convenient way for streamers, youtubers etc. to not have to read
                                messages such as donation messages.</p>
                        </div>
                        <div class="col-12">
                            <p class="text">For fun - it is a way to "make others" say silly things.</p>
                        </div>
                    </div>
                </div>
                    <div class="row pt-3">
                        <div class="col-12 pb">
                            The main advantage of STS over TTS is the possibility to produce deepfakes in real-time,
                            this means that the voice is converted as the person is speaking.
                        </div>
                    </div>
            </div>
        </div>
    </div>

<!--    WHAT    -->
    <div class="container mt-4">
        <div class="mt-4">
            <h3>What to look out for?</h3>
        </div>
        <div class="container">
            <div class="row mb-2 mb-md-0">
                <div class="col-12">
                    <p class="text">Since the deepfake may sound identical to a person you know it can be easy to
                        exploit this:</p>
                </div>
                <div class="col-12">
                    Vishing
                    <ul>
                        <li>
                            <p class="text">an attack where the voice is used to gain victims trust and the aim can be
                                fraud or stealing sensitive information</p>
                        </li>
                        <li>
                            <p class="text">Imagine getting a call from someone that sounds like your boss/subordinate
                                asking you for a password your company uses or a door code</p>
                        </li>
                        <li>
                            <p class="text">Or your family member in distress asking you for some money</p>
                        </li>
                    </ul>
                </div>

                <div class="col-12">
                    Scam
                    <ul>
                        <li>
                            <p class="text">an attack where the aim is to defraud you of your money</p>
                        </li>
                        <li>
                            <p class="text">often seen in form of adds, but could be even phone calls, podcasts...</p>
                        </li>
                        <li>
                            <p class="text">a well-known person (and someone you trust) tells you to buy or to invest in
                                something</p>
                        </li>
                        <li>
                            <p class="text">only for you to see neither the money nor product/service you paid for</p>
                        </li>
                    </ul>
                </div>

                <div class="col-12">
                    Biometrics
                    <ul>
                        <li>
                            <p class="text">an attacker committing identity theft and using your voice can lead to these
                                systems being unable to distinguish between you and them</p>
                        </li>
                        <li>
                            <p class="text">things like smart locks with voice activation or telephone transactions,
                                where voice is used to confirm ones identity are at risk</p>
                        </li>
                    </ul>
                </div>

                <div class="col-12">
                    <p class="text">
                        Using voice deepfakes is also easy way to spread</p> disinformation<p class="text">, because an
                        attacker can make anyone say things they never said and would never say
                    </p>
                    <ul>
                        <li>
                            <p class="text">an attacker committing identity theft and using your voice can lead to these
                                systems being unable to distinguish between you and them</p>
                        </li>
                        <li>
                            <p class="text">misleading information, propaganda or racist remarks can be used to hurt
                                anyone in the eyes of others or to support ones own agenda</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-4">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-5 py-2">
                <button class="btn btn-audio" onclick="showDiv('TTS')">How can TTS work in practice?</button>
            </div>
            <div class="col-12 col-md-5 py-2">
                <button class="btn btn-audio" onclick="showDiv('STS')">How can STS work in practice?</button>
            </div>
        </div>
    </div>





    <!--    ATTACK SCENARIOS    -->
    <div id="TTS" class="container mt-4" style="display: none">
        TTS Scenario 1:
        <div class="container">
            <ol>
                <li>
                    <p class="text">A tech-savvy scammer plans to defraud individuals by impersonating a well-known
                        actor in a commercial.</p>
                </li>
                <li>
                    <p class="text">The scammer utilizes deepfake technology to convincingly replicate the actor's voice
                        and crafts a script for the scam.</p>
                </li>
                <li>
                    <p class="text">Creating a fake investment opportunity, the scammer employs a text-to-speech
                        algorithm to narrate the script in the actor's voice.</p>
                </li>
                <li>
                    <p class="text">The narration promotes a fraudulent investment scheme, leveraging the actor's
                        credibility to gain trust.</p>
                </li>
                <li>
                    <p class="text">The scammer disseminates the audio message through various channels, including
                        YouTube ads, social media, and messaging platformsThe scammer disseminates the audio message
                        through various channels, including YouTube ads, social media, and messaging platforms.</p>
                </li>
                <li>
                    <p class="text">Unsuspecting victims, deceived by the convincing voice, fall prey to the scam,
                        investing money in the fraudulent scheme.</p>
                </li>
            </ol>
        </div>

        TTS Scenario 2:
        <div class="container">
            <ol>
                <li>
                    <p class="text">A notorious fake news outlet aims to spread disinformation about a specific
                        politician.</p>
                </li>
                <li>
                    <p class="text">The outlet downloads a video of the politician's speech and replicates their voice
                        using deepfake technology.</p>
                </li>
                <li>
                    <p class="text">Crafting a script portraying the politician in a manner contrary to their beliefs,
                        the outlet employs text-to-speech deepfake technology for narration.</p>
                </li>
                <li>
                    <p class="text">The outlet replaces the original audio in the video with the deepfake voice.</p>
                </li>
                <li>
                    <p class="text">The fabricated news story is published, supported by the deepfake, and outraged
                        readers share the misinformation on social media.</p>
                </li>
                <li>
                    <p class="text">Other fake news outlets amplify the narrative, further damaging the politician's
                        reputation and enhancing the fake story's credibility.</p>
                </li>
            </ol>
        </div>
    </div>


    <div id="STS" class="container mt-4" style="display: none">
        STS Scenario 1:
        <div class="container">
            <ol>
                <li>
                    <p class="text">A hacker, aiming to access a company's system, opts for voice conversion over
                        traditional hacking methods.</p>
                </li>
                <li>
                    <p class="text">After identifying an employee with sufficient clearance, the hacker gathers
                        information from the corporate website and social networks, including the target's habits.</p>
                </li>
                <li>
                    <p class="text">Discovering the target frequents a café, the hacker records the employee's speech
                        covertly during conversations.</p>
                </li>
                <li>
                    <p class="text">Using segments of the recorded audio, the hacker analyzes and replicates the
                        target's speech through voice conversion.</p>
                </li>
                <li>
                    <p class="text">Posing as the employee, the hacker calls the company's IT department, leveraging the
                        replicated voice to request a forgotten passport.</p>
                </li>
                <li>
                    <p class="text">The small size of the company allows the hacker's ruse to succeed, as the IT
                        specialist immediately provides the supposed coworker with the forgotten passport, granting
                        unauthorized access.</p>
                </li>
            </ol>
        </div>

        STS Scenario 2:
        <div class="container">
            <ol>
                <li>
                    <p class="text">A crafty thief, driven by a desire for financial gain, targets a wealthy family by
                        exploiting their familial concern.</p>
                </li>
                <li>
                    <p class="text">The thief thoroughly researches the target's social media, discovering that the
                        parents are currently on vacation through images and videos.</p>
                </li>
                <li>
                    <p class="text">Utilizing the mother's voice heard in videos, the thief creates a deepfake and
                        employs voice conversion technology to mimic her voice convincingly.</p>
                </li>
                <li>
                    <p class="text">Seizing a strategic moment, the thief places a call to the target, impersonating
                        the distressed mother in need during the vacation.</p>
                </li>
                <li>
                    <p class="text">Employing voice conversion technology to mimic the mother's voice, the thief
                        fabricates an emergency, urgently requesting financial assistance.</p>
                </li>
                <li>
                    <p class="text">Capitalizing on the emotional distress and urgency, the thief successfully convinces
                        the target to wire them money, completing the deceptive scheme.</p>
                </li>
            </ol>
        </div>
    </div>


<!--    CONT/END BUTTONS-->
    <div class="container mt-3 d-flex justify-content-center">
        <div class="fixed-sm-bottom mb-3">
            <div class="row">
                <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">
                    <a class="btn btn-my-secondary" href="{{ url_for('videos') }}">Back</a>
                </div>
                <div class="col-12 col-md-6 my-2 text-center">
                    <a class="btn btn-my-primary" href="{{ url_for('end') }}">Continue</a>
                </div>
            </div>
        </div>
    </div>

<script>
    function showDiv(divID) {
        document.getElementById("TTS").style.display = "none";
        document.getElementById("STS").style.display = "none";

        document.getElementById(divID).style.display = "block";
    }
</script>
{% endblock content %}
