{% extends "layout.html" %}
{% block content %}

<!--    TITLE  -->
    <div class="container d-flex justify-content-center mb-4">
        <h2>VIDEO DEEPFAKES</h2>
    </div>


<!-- VIDEO vs IMAGES -->
    <div class="container mt-4">
        <p class="text">Video deepfakes are similar to image deepfakes, it is possible to:</p>
        <ul>
            <li>
                <h3>swap</h3> <p class="text">face of person in a video</p>
            </li>
            <li>
                <h3>morph</h3> <p class="text">their face with another face</p>
            </li>
            <li>
                <h3>manipulate</h3> <p class="text">the video to add/remove/change features and accessories to a person</p>
            </li>
        </ul>
        <div class="row py-4">
            <div class="col-12">
                <p class="text">Creating a person for a video would be needlessly too difficult and we use</p>
                facial reenactment <p class="text">instead</p>
            </div>
        </div>
        <div class="row pb-4 pb-lg-2">
            <h1>Facial reenactment</h1>
        </div>
        <div class="row py-4">
            <div class="col-12">
                <p class="text">If face was a mask we can swap and adjust how we see fit, facial reenactment would the act
                    of </p>wearing<p class="text"> this mask and</p> acting<p class="text"> with it</p>
            </div>
        </div>

<!--    HOW -->
        <h3>How does it work?</h3>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text">The AI gets</p> picture(s)<p class="text"> or</p> video(s)<p class="text"> of the
                    person who will have their face reenacted</p>
                </div>
                <div class="col-12">
                    <p class="text">Then we have to provide either video or audio that we want reenacted</p>
                </div>
                <div class="col-12">
                    <p class="text">The product is a video, where the original person is either</p>
                </div>
                <div class="col-12">
                    <ul>
                        <li>
                            <p class="text">moving like the person in video from step 2</p>
                        </li>
                        <li>
                            <p class="text">or their lips are matching what is said in the audio from step 2</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!--    WHY -->
    <div class="container mt-4">
        <div class="mt-4">
            <h3>Why do this?</h3>
        </div>
        <div class="container">
            <div class="row mb-2 mb-md-0">
                <div class="col-12">
                    <p class="text">Matching lips of a speaker to voice is useful for in dubbing process in movies,
                        commercials etc.</p>
                </div>
                <div class="col-12">
                    <p class="text">Using an avatar that moves as the original person can be useful to preserve
                        anonymity online, e.g. during investigative interviewing</p>
                </div>
                <div class="col-12">
                    <p class="text">Making a synthesized virtual characters move can be used in the movie and streaming
                        industry, or it could give graphical representation virtual assistants (Siri, Alexa etc.)</p>
                </div>
            </div>
        </div>
    </div>

<!--    WHAT    -->
    <div class="container mt-4">
        <div class="mt-4">
            <h3>What to look out for with video deepfakes?</h3>
        </div>
        <div class="container">
            <div class="row mb-2 mb-md-0">
                <div class="col-12">
                    <p class="text">Spreading videos with altered or completely manipulated content is an easy way to
                        spread disinformation</p>
                </div>
                <div class="col-12">
                    <p class="text">Stealing someone's identity can be used to exploit applications that use one's face
                        to verify identity such as gambling portals or internet banking applications</p>
                </div>
            </div>
        </div>
    </div>

    <!--    ATTACK SCENARIOS    -->
    <div class="container mt-4">
        <div class="mt-4">
            <h3>How can it work in practice?</h3>
        </div>
        <div class="container">
            Scenario 1:
            <div class="container">
                <ol>
                    <li>
                        <p class="text">A disgruntled employee seeks revenge on their boss, aiming to damage their
                            professional reputation by releasing a fake video of their boss</p>
                    </li>
                    <li>
                        <p class="text">The employee downloads videos of the boss's public speeches and
                            presentations available online and leverages deepfake facial reenactment technology
                            to create the fake</p>
                    </li>
                    <li>
                        <p class="text">They superimpose the boss's face onto a manipulated video, making it appear
                            as though they are endorsing unethical practices</p>
                    </li>
                    <li>
                        <p class="text">The employee strategically releases the manipulated video on social media,
                            making it seem like a recent public statement made by the boss</p>
                    </li>
                    <li>
                        <p class="text">The video gains traction, causing public outrage and tarnishing the boss's
                            reputation, leading to potential professional consequences for the targeted individual
                        </p>
                    </li>
                </ol>
            </div>

            Scenario 2:
            <div class="container">
                <ol>
                    <li>
                        <p class="text">A dissatisfied individual, nursing grievances against their ex-partner who
                            has recently found a new relationship, decides to retaliate</p>
                    </li>
                    <li>
                        <p class="text">The person collects photos and videos of their ex-partner from social media
                            and personal archives</p>
                    </li>
                    <li>
                        <p class="text">Utilizing deepfake facial manipulation, they create misleading videos
                            suggesting the ex-partner engaging in inappropriate behavior with someone else</p>
                    </li>
                    <li>
                        <p class="text">The individual sends the manipulated videos to the ex-partner's new partner
                            and their mutual friends, creating strain on the recently formed relationship</p>
                    </li>
                    <li>
                        <p class="text">The dissatisfied individual watches as the manipulated content creates
                            turmoil, achieving their goal of sabotaging the new relationship</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>


<!--    CONT/END BUTTONS-->
    <div class="container mt-3 d-flex justify-content-center">
        <div class="fixed-sm-bottom mb-3">
            <div class="row">
                <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">
                    <a class="btn btn-my-secondary" href="{{ url_for('images') }}">Back</a>
                </div>
                <div class="col-12 col-md-6 my-2 text-center">
                    <a class="btn btn-my-primary" href="{{ url_for('audio') }}">Continue</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
