{% extends "layout.html" %}
{% block content %}

<!--    TITLE  -->
    <div class="container d-flex justify-content-center mb-4">
        <h2>FOOD FOR THOUGHT</h2>
    </div>


<!-- MIXING DEEPFAKES -->
    <div class="container mt-4">
        <div class="row py-4">
            <div class="col-12">
                As indicated in the previous sections, the individual techniques of deepfake creation can be used together
                to create even more potent deepfakes!
            </div>
            <div class="col-12 pt-2">
                <p class="text">For example, an attacker can:</p>
            </div>
            <div class="col-12">
                <ul>
                    <li>
                        <p class="text">swap your face on an incriminating photo and manipulate your
                            expression and facial features</p>
                    </li>
                    <li>
                        <p class="text">take an image and voice of your boss and use it to impersonate them in a
                            FaceTime call or during a Zoom conference</p>
                    </li>
                    <li>
                        <p class="text">take a video of a politician and completely alter what they are speaking
                            about</p>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                Though presenting deepfakes online as real information can spread misinformation, calling real
                information deepfakes can muddle the waters just as much!
            </div>
        </div>

<!----------------------------------------------------------------------------------------------------------------->
<!--    ADVICE-->
        <div class="row pt-3 pt-lg-4 pb-2 pt-lg-3">
            <h1>Advices to defend yourself against deepfakes:</h1>
        </div>
        <div class="row">
            <ol>
                <li>
                    Analyse the content you are viewing
                    <ul>
                        <li>
                            <p class="text">Deepfakes created with image generators often produce “wonky” fingers,
                                smudges, and other oddities not found in authentic photos.</p>
                        </li>
                        <li>
                            <p class="text">It is often a good idea to look at the eyes. Deepfakes often have irregular
                                or no blinking patterns and can lack light reflections in eyes.</p>
                        </li>
                        <li>
                            <p class="text">Zoom in! Look for digital anomalies, odd skin tones, and smudges between
                                face and background.</p>
                        </li>
                        <li>
                            <p class="text">Assess movement quality. Deepfakes can have movement that looks robotic,
                                lacks tongue movement, or has mismatched lips.</p>
                        </li>
                        <li>
                            <p class="text">Verify that the video or voice clip comes from a known and trusted
                                source.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    Don't automatically believe people are who they sound and/or look like during online or phone
                    conversations
                    <ul>
                        <li>
                            <p class="text">Especially during conversations concerning money or sensitive information
                                using a secret passwords or a special questions is advised!</p>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>


<!--    CONT/END BUTTONS-->
    <div class="container mt-3 d-flex justify-content-center">
        <div class="fixed-sm-bottom mb-3">
            <div class="row">
                <div class="col-12 col-md-6 my-2 order-last order-md-first text-center">
                    <a class="btn btn-my-secondary" href="{{ url_for('audio') }}">Back</a>
                </div>
                <div class="col-12 col-md-6 my-2 text-center">
                    <a class="btn btn-my-primary" href="{{ url_for('index') }}">Continue</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
