{% extends "layout.html" %}
{% block content %}
<!--    <div>-->
<!--        <form method="POST" action="">-->
<!--            {{ form.hidden_tag() }}-->
<!--            <fieldset>-->
<!--                <legend>LEGEND</legend>-->
<!--                <div>-->
<!--                    {{form.username.label}}-->
<!--                    {{form.username}}-->
<!--                </div>-->
<!--            </fieldset>-->
<!--            <div>-->
<!--                {{ form.submit }}-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
{% endblock content %}